<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js webpack .vue</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="message">
            {{ message }}
        </div>
    </div>
    
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                message: "Hello Vue111"
            }
        })
    </script>
</body>
</html>