<template>
  <div class="app-container">
    <el-form
      ref="editFrom"
      :model="editFrom"
      :rules="rules"
      class="aurocore-setting-form"
    >
      <el-tabs v-model="activeName" type="border-card">
        <el-tab-pane label="基本資訊" name="first">
          <el-form-item
            label="系統名稱"
            :label-width="formLabelWidth"
            prop="SoftName"
          >
            <el-input
              v-model="editFrom.SoftName"
              placeholder="請輸入系統名稱"
              autocomplete="off"
              clearable
            />
            *系統名稱最多20個字元
          </el-form-item>
          <el-form-item
            label="系統簡介"
            :label-width="formLabelWidth"
            prop="SoftSummary"
          >
            <el-input
              v-model="editFrom.SoftSummary"
              placeholder="請輸入系統簡介"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="訪問網域"
            :label-width="formLabelWidth"
            prop="WebUrl"
          >
            <el-input
              v-model="editFrom.WebUrl"
              placeholder="請輸入訪問域名"
              autocomplete="off"
              clearable
            />
            *網域授權請聯繫<a href="http://www.aurocore.com/" target="_blank"
              >特聿客服</a
            >
          </el-form-item>
          <el-form-item
            label="Logo"
            :label-width="formLabelWidth"
            prop="SysLogo"
          >
            <el-upload
              :action="httpFileUploadUrl"
              :headers="headers"
              list-type="picture-card"
              :on-preview="handlePictureCardPreview"
              :on-remove="handleRemove"
              :limit="1"
              :file-list="filelist"
              :on-success="uploadFileSuccess"
            >
              <i class="el-icon-plus" />
            </el-upload>
            <el-dialog :visible.sync="dialogVisible">
              <img width="100%" :src="dialogImageUrl" alt="" />
            </el-dialog>
          </el-form-item>
          <el-form-item
            label="公司名稱"
            :label-width="formLabelWidth"
            prop="CompanyName"
          >
            <el-input
              v-model="editFrom.CompanyName"
              placeholder="請輸入公司名稱"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="通訊地址"
            :label-width="formLabelWidth"
            prop="Address"
          >
            <el-input
              v-model="editFrom.Address"
              placeholder="請輸入通訊地址"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="電話"
            :label-width="formLabelWidth"
            prop="Telphone"
          >
            <el-input
              v-model="editFrom.Telphone"
              placeholder="請輸入電話"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="Email"
            :label-width="formLabelWidth"
            prop="Email"
          >
            <el-input
              v-model="editFrom.Email"
              placeholder="請輸入Email"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <!--
          <el-form-item label="ICP備案號" :label-width="formLabelWidth" prop="ICPCode">
            <el-input v-model="editFrom.ICPCode" placeholder="請輸入ICP備案號" autocomplete="off" clearable />
            請到工業和資訊化部http://beian.miit.gov.cn網站查詢
          </el-form-item>
          <el-form-item label="公安備案號" :label-width="formLabelWidth" prop="PublicSecurityCode">
            <el-input v-model="editFrom.PublicSecurityCode" placeholder="請輸入公安備案號" autocomplete="off" clearable />
            請到全國網際網路安全管理服務平臺http://www.beian.gov.cn網站備案查詢
          </el-form-item>-->
        </el-tab-pane>
        <el-tab-pane label="功能許可權" name="second">
          <el-form-item
            label="是否開啟系統"
            :label-width="formLabelWidth"
            prop="Webstatus"
          >
            <el-radio-group v-model="editFrom.Webstatus">
              <el-radio label="0">是</el-radio>
              <el-radio label="1">否</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item
            label="系統關閉原因"
            :label-width="formLabelWidth"
            prop="Webclosereason"
          >
            <el-input
              v-model="editFrom.Webclosereason"
              type="textarea"
              placeholder="請輸入系統關閉原因"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="系統統計程式碼"
            :label-width="formLabelWidth"
            prop="Webcountcode"
          >
            <el-input
              v-model="editFrom.Webcountcode"
              type="textarea"
              placeholder="請輸入系統統計程式碼"
              autocomplete="off"
              clearable
            />
          </el-form-item>
        </el-tab-pane>
        <el-tab-pane label="簡訊設定" name="three">
          <el-form-item
            label="簡訊API地址"
            :label-width="formLabelWidth"
            prop="Smsapiurl"
          >
            <el-input
              v-model="editFrom.Smsapiurl"
              placeholder="請輸入簡訊API地址"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="平臺登錄賬戶"
            :label-width="formLabelWidth"
            prop="Smsusername"
          >
            <el-input
              v-model="editFrom.Smsusername"
              placeholder="請輸入平臺登錄賬戶"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="平臺通訊金鑰"
            :label-width="formLabelWidth"
            prop="Smspassword"
          >
            <el-input
              v-model="editFrom.Smspassword"
              placeholder="請輸入平臺通訊金鑰"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item label="簡訊平臺說明" :label-width="formLabelWidth">
            請不要使用系統預設賬戶test，因為它是公用的測試帳號；
            請在簡訊平臺修改賬戶資料中繫結簽名方可使用簡訊功能；
            如果您尚未申請開通，請點選這裡註冊成功后填寫您的使用者名稱和通訊金鑰均可正常使用。
          </el-form-item>
        </el-tab-pane>
        <el-tab-pane label="郵件設定" name="four">
          <el-form-item
            label="SMTP伺服器"
            :label-width="formLabelWidth"
            prop="Emailsmtp"
          >
            <el-input
              v-model="editFrom.Emailsmtp"
              placeholder="請輸入SMTP伺服器"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="SSL加密連線"
            :label-width="formLabelWidth"
            prop="Emailssl"
          >
            <el-radio-group v-model="editFrom.Emailssl">
              <el-radio label="true">是</el-radio>
              <el-radio label="false">否</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item
            label="SMTP埠"
            :label-width="formLabelWidth"
            prop="Emailport"
          >
            <el-input
              v-model="editFrom.Emailport"
              placeholder="請輸入SMTP埠"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="發件人地址"
            :label-width="formLabelWidth"
            prop="Emailfrom"
          >
            <el-input
              v-model="editFrom.Emailfrom"
              placeholder="請輸入發件人地址"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="郵箱帳號"
            :label-width="formLabelWidth"
            prop="Emailusername"
          >
            <el-input
              v-model="editFrom.Emailusername"
              placeholder="請輸入郵箱帳號"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="郵箱密碼"
            :label-width="formLabelWidth"
            prop="Emailpassword"
          >
            <el-input
              v-model="editFrom.Emailpassword"
              placeholder="請輸入郵箱密碼"
              type="password"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="發件人昵稱"
            :label-width="formLabelWidth"
            prop="Emailnickname"
          >
            <el-input
              v-model="editFrom.Emailnickname"
              placeholder="請輸入發件人昵稱"
              autocomplete="off"
              clearable
            />
          </el-form-item>
        </el-tab-pane>
        <el-tab-pane label="檔案上傳" name="five">
          <el-form-item
            label="檔案伺服器"
            :label-width="formLabelWidth"
            prop="Fileserver"
          >
            <el-select v-model="editFrom.Fileserver" placeholder="請選擇">
              <el-option label="本地伺服器" value="localhost" />
              <el-option label="阿里云OSS" value="alioss" />
              <el-option label="騰訊云OSS" value="tengxunoss" />
              <el-option label="七牛云" value="qiniu" />
            </el-select>
          </el-form-item>
          <el-form-item
            label="檔案上傳目錄"
            :label-width="formLabelWidth"
            prop="Filepath"
          >
            <el-input
              v-model="editFrom.Filepath"
              placeholder="請輸入檔案上傳目錄"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="檔案儲存方式"
            :label-width="formLabelWidth"
            prop="Filesave"
          >
            <el-select v-model="editFrom.Filesave" placeholder="請選擇">
              <el-option label="按年月日每天一個目錄" value="1" />
              <el-option label="按年月日存入不同目錄" value="2" />
            </el-select>
          </el-form-item>
          <el-form-item
            label="檔案上傳型別"
            :label-width="formLabelWidth"
            prop="Fileextension"
          >
            <el-input
              v-model="editFrom.Fileextension"
              placeholder="請輸入檔案上傳型別"
              autocomplete="off"
              clearable
            />
          </el-form-item>
          <el-form-item
            label="圖片縮略大小"
            :label-width="formLabelWidth"
            prop="Thumbnailheight"
          >
            寬
            <el-input
              v-model="editFrom.Thumbnailwidth"
              placeholder="縮圖寬度"
              autocomplete="off"
              style="width: 150px"
              clearable
            />px *高
            <el-input
              v-model="editFrom.Thumbnailheight"
              placeholder="縮圖高度"
              autocomplete="off"
              style="width: 150px"
              clearable
            />px
          </el-form-item>
        </el-tab-pane>
      </el-tabs>
      <el-form-item>
        <el-button type="primary" class="btnset" @click="saveEditForm()"
          >保 存</el-button
        >
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import { getAllSysSetting, saveSysSetting } from "@/api/basebasic";
import defaultSettings from "@/settingsdev";
import { getToken } from "@/utils/auth";
export default {
  name: "SysSetting",
  data() {
    return {
      activeName: "first",
      editFrom: {
        SoftName: "",
        SoftSummary: "",
        WebUrl: "",
        SysLogo: "",
        CompanyName: "",
        Address: "",
        Telphone: "",
        Email: "",
        ICPCode: "",
        PublicSecurityCode: "",
        Webstatus: "0",
        Webclosereason: "",
        Webcountcode: "",
        Smsapiurl: "",
        Smsusername: "",
        Smspassword: "",
        SmsSignName: "",
        Emailsmtp: "",
        Emailssl: "",
        Emailport: "",
        Emailfrom: "",
        Emailusername: "",
        Emailpassword: "",
        Emailnickname: "",
        Fileserver: "",
        Filepath: "",
        Filesave: "",
        Fileextension: "",
      },
      rules: {
        SoftName: [
          { required: true, message: "請輸入系統名稱", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 6 到 32 個字元",
            trigger: "blur",
          },
        ],
        WebUrl: [
          { required: true, message: "請輸入訪問地址", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 6 到 32 個字元",
            trigger: "blur",
          },
        ],
      },
      httpFileUploadUrl: defaultSettings.fileUploadUrl,
      dialogVisible: false,
      dialogImageUrl: "",
      filelist: [],
      formLabelWidth: "150px",
      headers: [],
    };
  },
  created() {
    this.loadSettingData();
    this.headers = { Authorization: "Bearer " + (getToken() || "") };
  },
  methods: {
    handleRemove(file, fileList) {
      this.editFrom.SysLogo = file.url;
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    loadSettingData: function () {
      getAllSysSetting().then((res) => {
        this.editFrom = res.ResData;
        this.editFrom.Webstatus = res.ResData.Webstatus + "";
        this.editFrom.Emailssl = res.ResData.Emailssl + "";
        this.filelist = [
          { name: res.ResData.SysLogo, url: res.ResData.SysLogo },
        ];
      });
    },
    uploadFileSuccess: function (response, file, fileList) {
      this.editFrom.SysLogo =
        defaultSettings.fileUrl + response.ResData.FilePath;
    },
    saveEditForm() {
      this.$refs["editFrom"].validate((valid) => {
        if (valid) {
          const data = this.editFrom;
          saveSysSetting(data).then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，操作成功",
                type: "success",
              });
              this.dialogEditFormVisible = false;
              this.currentSelected = "";
              this.$refs["editFrom"].resetFields();
              this.loadSettingData();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
        } else {
          return false;
        }
      });
    },
  },
};
</script>
<style>
.aurocore-setting-form .el-form-item {
  width: 100%;
}
.aurocore-setting-form .el-input {
  width: 40%;
}
.aurocore-setting-form .el-select .el-input {
  width: 100%;
}
.aurocore-setting-form .btnset {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}
</style>
