﻿<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Google Analytics</title>
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
    <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
    <script src="~/vendor/vue/dist/vue.js"></script>
    <script src="../Scripts/utils/require.js"></script>
    <script src="../Scripts/utils/ej2-vue.js"></script>
   
    <!--Event Bus-->
    <script src="https://cdn.jsdelivr.net/npm/mitt@2.1.0/dist/mitt.umd.js"></script>
    @RenderSection("JavaScript", required: false)
    <!-- Essential JS 2 for Vue  global script -->
    <!--<script  src="../Scripts/utils/ej2-vue.js" ></script>-->
    <link rel="stylesheet" href="~/css/site.css" />

    <!--

    <script src="~/vendor/axios/dist/axios.js"></script>
    <script src="~/vendor/vue/dist/vue.js"></script>
    <script src="~/vendor/bootstrap-vue/dist/bootstrap-vue.min.js"></script>

    -->
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="col-lg-7 col-xs-12 col-sm-12">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">行銷分析</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AudienceOverviewbyGA">受眾概況</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/">廣告通路</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 offset-lg-1 col-xs-12 col-sm-12">
                    <div id="maincalendar" class="calendarwrap">
                        <ejs-daterangepicker :placeholder="waterMark" v-model="daterange"></ejs-daterangepicker>
                    </div>


                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">


                </div>
            </div>
        </nav>
    </header>

    <script>

        const emitter = mitt()
        Vue.use(ejs.calendars.DateRangePickerPlugin)
        var dp = new Vue({
            el: '#maincalendar',
            data: function () {
                return {
                    waterMark: 'Select a Range',
                    daterange: null
                    // enabled:false
                }

            },
            mounted() {
                this.getDateData()

            },
            methods: {
                getDateData() {
                    console.log('function', this.daterange)
                    emitter.emit('getDateRangeData', this.daterange);
                }
            }



        })
        dp.$watch('daterange', function (nVal, oVal) {
            // console.log('dp', nVal)
            this.getDateData()
        })
    </script>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <style>
        .calendarwrap {
            max-width: 250px;
            margin: 0 auto;
        }
    </style>
</body>

</html>