﻿@page
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">My Tealeaf ID:</div>
            <div class="col-4"><input type="text" id="myInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">Guest Tealeaf ID:</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-4">
                <input type="button" id="sendButton" value="群發訊息" />
            </div>
            <div class="col-4">
                <input type="button" id="sendUserButton" value="針對單一使用者" />
            </div>
            <div class="col-4">
                <input type="button" id="sendImageButton" value="變動圖片" />
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<div class="row">
    <div id="imgList" class="col-12">
        <img src="https://dailysee.net/ImgLibrary/4.jpg" class="rounded" alt="Cinque Terre" width="204" height="236">
        <img src="https://dailysee.net/ImgLibrary/5.jpg" class="rounded" alt="Cinque Terre" width="204" height="236">
        <img src="https://dailysee.net/ImgLibrary/6.jpg" class="rounded" alt="Cinque Terre" width="204" height="236">
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
