<template>
<footer class="footer">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-9 col-md-7">
        <h5 class="title">SyncVueWebAnalytcis</h5>
        <p class="description">
          Syncfusion Vue is a modern UI Components library that has been built from the ground up to be lightweight, responsive, modular and touch friendly.
        </p>
      </div>
      <div class="col-2">
        <ul class="list-unstyled">
          <li>
            <a class="footerlink" target="_blank" href="https://ej2.syncfusion.com/vue/documentation/" title="Help" aria-label="Help">
              Help
            </a>
          </li>
          <li>
            <a class="footerlink" target="_blank" href="https://ej2.syncfusion.com/vue/demos" title="Online Samples" aria-label="Online Samples">
              Online Samples
            </a>
          </li>
          <li>
            <a class="footerlink" target="_blank" href="https://www.syncfusion.com/support/directtrac/incidents" title="Support" aria-label="Support">
              Support
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>


<style scoped>
.footer {
  background-color: #1d1d1d;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
  
.title {
  color: #fff;
}

.description {
  color: #fff;
}

.footerlink,
.footerlink:hover {
  color: #fff;
}
</style>
