<template>
  <div class="app-container">
    <div class="filter-container">
      <el-card>
        <el-form
          ref="searchform"
          :inline="true"
          :model="searchform"
          class="demo-form-inline"
          size="small"
        >
          <el-form-item label="角色">
            <el-select
              v-model="searchform.RoleId"
              clearable
              placeholder="請選擇"
            >
              <el-option
                v-for="item in selectRole"
                :key="item.Id"
                :label="item.FullName"
                :value="item.Id"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="使用者資訊：">
            <el-input
              v-model="searchform.Keywords"
              clearable
              placeholder="帳號/姓名/昵稱/電話"
            />
          </el-form-item>
          <el-form-item label="註冊日期：">
            <el-date-picker
              v-model="searchform.CreateTime"
              type="daterange"
              align="right"
              value-format="yyyy-MM-dd"
              unlink-panels
              range-separator="至"
              start-placeholder="開始日期"
              end-placeholder="結束日期"
              :picker-options="pickerOptions"
            />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="handleSearch()">查詢</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
    <el-card>
      <div class="list-btn-container">
        <el-button-group>
          <slot v-for="itemf in loadBtnFunc">
            <el-button
              v-if="itemf.FullName === '新增'"
              type="default"
              icon="el-icon-plus"
              size="small"
              @click="ShowEditOrViewDialog()"
              >新增</el-button
            >
            <el-button
              v-if="itemf.FullName === '修改'"
              type="default"
              icon="el-icon-edit"
              size="small"
              @click="ShowEditOrViewDialog('edit')"
              >修改</el-button
            >
            <el-button
              v-if="itemf.FullName == '禁用'"
              type="default"
              icon="el-icon-video-pause"
              size="small"
              @click="setEnable('0')"
              >禁用</el-button
            >
            <el-button
              v-if="itemf.FullName == '啟用'"
              type="default"
              icon="el-icon-video-play"
              size="small"
              @click="setEnable('1')"
              >啟用</el-button
            >
            <el-button
              v-if="itemf.FullName === '軟刪除'"
              type="default"
              icon="el-icon-delete"
              size="small"
              @click="deleteSoft('0')"
              >軟刪除</el-button
            >
            <el-button
              v-if="itemf.FullName === '刪除'"
              type="default"
              icon="el-icon-delete"
              size="small"
              @click="deletePhysics()"
              >刪除</el-button
            >
            <el-button
              v-if="itemf.FullName === '重置密碼'"
              type="default"
              icon="el-icon-refresh-right"
              size="small"
              @click="handleResetPassword()"
              >重置密碼</el-button
            >
          </slot>
          <el-button
            type="default"
            icon="el-icon-refresh"
            size="small"
            @click="loadTableData()"
            >重新整理</el-button
          >
        </el-button-group>
      </div>
      <el-table
        ref="gridtable"
        v-loading="tableloading"
        :data="tableData"
        border
        stripe
        highlight-current-row
        style="width: 100%"
        :default-sort="{ prop: 'SortCode', order: 'descending' }"
        @select="handleSelectChange"
        @select-all="handleSelectAllChange"
        @sort-change="handleSortChange"
      >
        <el-table-column type="selection" width="30" />
        <el-table-column
          prop="Account"
          label="帳號/使用者名稱"
          sortable="custom"
          width="230"
          fixed
        />
        <el-table-column
          prop="RealName"
          label="真實姓名"
          sortable="custom"
          width="180"
          fixed
        />
        <el-table-column
          prop="NickName"
          label="昵稱"
          sortable="custom"
          width="180"
          fixed
        />
        <el-table-column
          prop="Gender"
          label="性別"
          sortable="custom"
          width="90"
          align="center"
        >
          <template slot-scope="scope">
            {{ scope.row.Gender === 1 ? "男" : "女" }}
          </template>
        </el-table-column>
        <el-table-column
          prop="Birthday"
          label="生日"
          sortable="custom"
          width="120"
          align="center"
          :formatter="dateformatter"
        />
        <el-table-column
          prop="MobilePhone"
          label="手機號碼"
          sortable="custom"
          width="120"
          align="center"
        />
        <el-table-column
          prop="DepartmentName"
          label="所屬組織"
          sortable="custom"
          width="260"
          align="center"
        >
          <template slot-scope="scope">
            {{ scope.row.OrganizeName + "/" + scope.row.DepartmentName }}
          </template>
        </el-table-column>
        <el-table-column
          prop="RoleName"
          label="職位角色"
          sortable="custom"
          width="280"
          align="center"
        />
        <el-table-column
          label="可用"
          sortable="custom"
          width="90"
          prop="EnabledMark"
          align="center"
        >
          <template slot-scope="scope">
            <el-tag
              :type="scope.row.EnabledMark === true ? 'success' : 'info'"
              disable-transitions
              >{{ scope.row.EnabledMark === true ? "啟用" : "禁用" }}</el-tag
            >
          </template>
        </el-table-column>
        <el-table-column
          label="刪除"
          sortable="custom"
          width="90"
          prop="DeleteMark"
          align="center"
        >
          <template slot-scope="scope">
            <el-tag
              :type="scope.row.DeleteMark === true ? 'danger' : 'success'"
              disable-transitions
              >{{ scope.row.DeleteMark === true ? "已刪除" : "否" }}</el-tag
            >
          </template>
        </el-table-column>
        <el-table-column
          prop="CreatorTime"
          label="新增時間"
          width="180"
          sortable
        />
        <el-table-column
          prop="LastModifyTime"
          label="更新時間"
          width="180"
          sortable
        >
          <template slot-scope="scope">
            {{ scope.row.LastModifyTime }}
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination-container">
        <el-pagination
          background
          :current-page="pagination.currentPage"
          :page-sizes="[5, 10, 20, 50, 100, 200, 300, 400]"
          :page-size="pagination.pagesize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="pagination.pageTotal"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </el-card>
    <el-dialog
      ref="dialogEditForm"
      :title="editFormTitle + '使用者'"
      :visible.sync="dialogEditFormVisible"
      width="660px"
    >
      <el-form
        ref="editFrom"
        :inline="true"
        :model="editFrom"
        :rules="rules"
        class="demo-form-inline"
      >
        <el-form-item label="帳號" :label-width="formLabelWidth" prop="Account">
          <el-input
            v-model="editFrom.Account"
            placeholder="請輸入帳號"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="姓名"
          :label-width="formLabelWidth"
          prop="RealName"
        >
          <el-input
            v-model="editFrom.RealName"
            placeholder="請輸入姓名"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="昵稱"
          :label-width="formLabelWidth"
          prop="NickName"
        >
          <el-input
            v-model="editFrom.NickName"
            placeholder="請輸入昵稱"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item label="性別" :label-width="formLabelWidth" prop="Gender">
          <el-radio-group v-model="editFrom.Gender">
            <el-radio label="1">男</el-radio>
            <el-radio label="0">女</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item
          label="手機號"
          :label-width="formLabelWidth"
          prop="MobilePhone"
        >
          <el-input
            v-model="editFrom.MobilePhone"
            placeholder="請輸入手機號"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <!--
        <el-form-item label="微訊號" :label-width="formLabelWidth" prop="WeChat">
          <el-input v-model="editFrom.WeChat" placeholder="請輸入微訊號" autocomplete="off" clearable />
        </el-form-item>-->
        <el-form-item label="郵箱" :label-width="formLabelWidth" prop="Email">
          <el-input
            v-model="editFrom.Email"
            placeholder="請輸入Email @"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="出生日期"
          :label-width="formLabelWidth"
          prop="Birthday"
        >
          <el-date-picker
            v-model="editFrom.Birthday"
            type="date"
            placeholder="選擇日期"
          />
        </el-form-item>
        <el-form-item label="選項" :label-width="formLabelWidth" prop="">
          <el-checkbox v-model="editFrom.EnabledMark">啟用</el-checkbox>
          <el-checkbox v-model="editFrom.IsAdministrator">管理員</el-checkbox>
        </el-form-item>
        <el-form-item
          label="所屬組織"
          :label-width="formLabelWidth"
          prop="DepartmentId"
        >
          <el-cascader
            v-model="selectedOrganizeOptions"
            style="width: 500px"
            :options="selectOrganize"
            filterable
            :props="{
              label: 'FullName',
              value: 'Id',
              children: 'Children',
              emitPath: false,
              checkStrictly: true,
              expandTrigger: 'hover',
            }"
            clearable
            @change="handleSelectOrganizeChange"
          />
        </el-form-item>
        <el-form-item
          label="職位角色"
          :label-width="formLabelWidth"
          prop="RoleId"
        >
          <el-select
            v-model="editFrom.RoleId"
            style="width: 500px"
            multiple
            clearable
            placeholder="請選擇"
          >
            <el-option
              v-for="item in selectRole"
              :key="item.Id"
              :label="item.FullName"
              :value="item.Id"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          label="備註"
          :label-width="formLabelWidth"
          prop="Description"
        >
          <el-input
            v-model="editFrom.Description"
            style="width: 500px"
            placeholder=""
            autocomplete="off"
            clearable
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogEditFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEditForm()">確 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getUserListWithPager,
  getUserDetail,
  saveUser,
  setUserEnable,
  deleteSoftUser,
  deleteUser,
  resetPassword,
} from "@/api/security/userservice";
import * as fecha from "element-ui/lib/utils/date";
import { getAllRoleList } from "@/api/security/roleservice";
import { getAllOrganizeTreeTable } from "@/api/security/organizeservice";

export default {
  name: "User",
  data() {
    return {
      searchform: {
        RoleId: "",
        Keywords: "",
        CreateTime: "",
      },
      selectRole: [],
      selectedOrganizeOptions: "",
      selectOrganize: [],
      pickerOptions: {
        shortcuts: [
          {
            text: "今天",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime());
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "昨天",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 1);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "最近兩天",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 2);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "最近三天",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 3);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "最近一週",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "最近一個月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "最近兩個月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 60);
              picker.$emit("pick", [start, end]);
            },
          },
        ],
      },
      loadBtnFunc: [],
      tableData: [],
      tableloading: true,
      pagination: {
        currentPage: 1,
        pagesize: 20,
        pageTotal: 0,
      },
      sortableData: {
        order: "desc",
        sort: "CreatorTime",
      },
      dialogEditFormVisible: false,
      editFormTitle: "",
      editFrom: {
        Account: "",
        RealName: "",
        NickName: "",
        Gender: "1",
        Birthday: "",
        MobilePhone: "",
        Email: "",
        WeChat: "",
        DepartmentId: "",
        RoleId: "",
        IsAdministrator: true,
        EnabledMark: true,
        Description: "",
      },
      rules: {
        Account: [
          { required: true, message: "請輸入帳號", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 2 到 16 個字元",
            trigger: "blur",
          },
        ],
        RealName: [
          { required: true, message: "請輸入姓名", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 2 到 50 個字元",
            trigger: "blur",
          },
        ],
        DepartmentId: [
          { required: true, message: "請輸選擇所屬組織", trigger: "blur" },
        ],
        RoleId: [
          { required: true, message: "請輸選擇職位角色", trigger: "blur" },
        ],
      },
      formLabelWidth: "80px",
      currentId: "", // 目前操作對象的ID值，主要用於修改
      currentSelected: [],
    };
  },
  created() {
    this.pagination.currentPage = 1;
    this.InitDictItem();
    this.loadTableData();
    this.loadBtnFunc = JSON.parse(
      localStorage.getItem("aurocorecurrentobjects")
    );
  },
  methods: {
    /**
     * 初始化資料
     */
    InitDictItem() {
      getAllRoleList().then((res) => {
        this.selectRole = res.ResData;
      });
      getAllOrganizeTreeTable().then((res) => {
        this.selectOrganize = res.ResData;
      });
    },
    /**
     * 載入頁面table資料
     */
    loadTableData: function () {
      this.tableloading = true;
      var seachdata = {
        CurrenetPageIndex: this.pagination.currentPage,
        PageSize: this.pagination.pagesize,
        Keywords: this.searchform.name,
        Order: this.sortableData.order,
        Sort: this.sortableData.sort,
        CreatorTime1: this.searchform.CreateTime[0],
        CreatorTime2: this.searchform.CreateTime[1],
        RoleId: this.searchform.RoleId,
      };
      getUserListWithPager(seachdata).then((res) => {
        this.tableData = res.ResData.Items;
        this.pagination.pageTotal = res.ResData.TotalItems;
        this.tableloading = false;
      });
    },
    /**
     * 點選查詢
     */
    handleSearch: function () {
      this.pagination.currentPage = 1;
      this.loadTableData();
    },
    /**
     * 新增、修改或檢視明細資訊（繫結顯示資料）     *
     */
    ShowEditOrViewDialog: function (view) {
      if (view !== undefined) {
        if (
          this.currentSelected.length > 1 ||
          this.currentSelected.length === 0
        ) {
          this.$alert("請選擇一條資料進行編輯/修改", "提示");
        } else {
          this.currentId = this.currentSelected[0].Id;
          this.editFormTitle = "編輯";
          this.dialogEditFormVisible = true;
          this.bindEditInfo();
        }
      } else {
        this.editFormTitle = "新增";
        this.currentId = "";
        this.selectedOrganizeOptions = "";
        this.dialogEditFormVisible = true;
      }
    },
    bindEditInfo: function () {
      getUserDetail(this.currentId).then((res) => {
        this.editFrom.Account = res.ResData.Account;
        this.editFrom.RealName = res.ResData.RealName;
        this.editFrom.NickName = res.ResData.NickName;
        this.editFrom.Gender = res.ResData.Gender + "";
        this.editFrom.Birthday = res.ResData.Birthday;
        this.editFrom.MobilePhone = res.ResData.MobilePhone;
        this.editFrom.Email = res.ResData.Email;
        this.editFrom.WeChat = res.ResData.WeChat;
        this.editFrom.DepartmentId = res.ResData.DepartmentId;
        this.editFrom.IsAdministrator = res.ResData.IsAdministrator;
        this.editFrom.EnabledMark = res.ResData.EnabledMark;
        this.editFrom.RoleId = res.ResData.RoleId.split(",");
        this.editFrom.Description = res.ResData.Description;
        this.selectedOrganizeOptions = res.ResData.DepartmentId;
      });
    },
    /**
     * 新增/修改儲存
     */
    saveEditForm() {
      console.log(this.editFrom.RoleId);
      this.$refs["editFrom"].validate((valid) => {
        if (valid) {
          const data = {
            Account: this.editFrom.Account,
            RealName: this.editFrom.RealName,
            NickName: this.editFrom.NickName,
            Gender: this.editFrom.Gender,
            Birthday: this.editFrom.Birthday,
            MobilePhone: this.editFrom.MobilePhone,
            Email: this.editFrom.Email,
            WeChat: this.editFrom.WeChat,
            DepartmentId: this.editFrom.DepartmentId,
            IsAdministrator: this.editFrom.IsAdministrator,
            EnabledMark: this.editFrom.EnabledMark,
            RoleId: this.editFrom.RoleId.join(","),
            Description: this.editFrom.Description,
            Id: this.currentId,
          };

          var url = "User/Insert";
          if (this.currentId !== "") {
            url = "User/Update?id=" + this.currentId;
          }
          saveUser(data, url).then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，操作成功",
                type: "success",
              });
              this.dialogEditFormVisible = false;
              this.currentSelected = "";
              this.selectedOrganizeOptions = "";
              this.$refs["editFrom"].resetFields();
              this.loadTableData();
              this.InitDictItem();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
        } else {
          return false;
        }
      });
    },
    setEnable: function (val) {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        setUserEnable(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentSelected = "";
            this.loadTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deleteSoft: function (val) {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        deleteSoftUser(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentSelected = "";
            this.loadTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deletePhysics: function () {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });

        this.$confirm("是否確認刪除所選的資料項?", "警告", {
          confirmButtonText: "確定",
          cancelButtonText: "取消",
          type: "warning",
        })
          .then(function () {
            const data = {
              Ids: currentIds,
            };
            return deleteUser(data);
          })
          .then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，刪除成功",
                type: "success",
              });
              this.currentSelected = "";
              this.loadTableData();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
      }
    },
    /**
     * 當表格的排序條件發生變化的時候會觸發該事件
     */
    handleSortChange: function (column) {
      this.sortableData.sort = column.prop;
      if (column.order === "ascending") {
        this.sortableData.order = "asc";
      } else {
        this.sortableData.order = "desc";
      }
      this.loadTableData();
    },
    /**
     * 當用戶手動勾選checkbox資料行事件
     */
    handleSelectChange: function (selection, row) {
      this.currentSelected = selection;
    },
    /**
     * 當用戶手動勾選全選checkbox事件
     */
    handleSelectAllChange: function (selection) {
      this.currentSelected = selection;
    },
    /**
     * 選擇每頁顯示數量
     */
    handleSizeChange(val) {
      this.pagination.pagesize = val;
      this.pagination.currentPage = 1;
      this.loadTableData();
    },
    /**
     * 選擇當頁面
     */
    handleCurrentChange(val) {
      this.pagination.currentPage = val;
      this.loadTableData();
    },

    /**
     *選擇組織
     */
    handleSelectOrganizeChange: function () {
      this.editFrom.DepartmentId = this.selectedOrganizeOptions;
    },
    dateformatter(row, column, cellValue, index) {
      var date = row[column.property];
      return cellValue ? fecha.format(new Date(date), "yyyy-MM-dd") : "";
    },
    handleResetPassword: function (val) {
      if (
        this.currentSelected.length > 1 ||
        this.currentSelected.length === 0
      ) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        const data = {
          userId: this.currentSelected[0].Id,
        };
        resetPassword(data).then((res) => {
          if (res.Success) {
            this.$alert("重置密碼成功，新密為" + res.ErrMsg, "提醒", {
              confirmButtonText: "確定",
              callback: (action) => {},
            });
            this.currentSelected = "";
            this.loadTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
  },
};
</script>
