﻿
<script type="text/x-template" id="xlinegraph">
    <div :id="chartid" ref="panelBox" style="display:block;width:100%;height:100%"></div>
</script>

<script src="../Scripts/component/echart/vue-linegraph.js"></script>
