﻿
<script type="text/x-template" id="xbargraph">
    <div :id="chartid" ref="panelBox" style="display:block;width:100%;height:100%"></div>
</script>
<script src="../Scripts/component/echart/vue-bargraph.js"></script>
