<template>
  <div class="app-container">
    <div class="filter-container">
      <el-card>
        <el-form
          ref="searchform"
          :inline="true"
          :model="searchform"
          class="demo-form-inline"
          size="small"
        >
          <el-form-item label="業務單據名稱：">
            <el-input
              v-model="searchform.name"
              clearable
              placeholder="業務單據名稱"
            />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="handleSearch()">查詢</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
    <el-card>
      <div class="list-btn-container">
        <el-button-group>
          <slot v-for="itemf in loadBtnFunc">
            <el-button
              v-if="itemf.FullName === '新增'"
              type="primary"
              icon="el-icon-plus"
              size="small"
              @click="ShowEditOrViewDialog()"
              >新增</el-button
            >
            <el-button
              v-if="itemf.FullName === '修改'"
              type="primary"
              icon="el-icon-edit"
              class="el-button-modify"
              size="small"
              @click="ShowEditOrViewDialog('edit')"
              >修改</el-button
            >
            <el-button
              v-if="itemf.FullName == '禁用'"
              type="info"
              icon="el-icon-video-pause"
              size="small"
              @click="setEnable('0')"
              >禁用</el-button
            >
            <el-button
              v-if="itemf.FullName == '啟用'"
              type="success"
              icon="el-icon-video-play"
              size="small"
              @click="setEnable('1')"
              >啟用</el-button
            >
            <el-button
              v-if="itemf.FullName === '軟刪除'"
              type="warning"
              icon="el-icon-delete"
              size="small"
              @click="deleteSoft('0')"
              >軟刪除</el-button
            >
            <el-button
              v-if="itemf.FullName === '刪除'"
              type="danger"
              icon="el-icon-delete"
              size="small"
              @click="deletePhysics()"
              >刪除</el-button
            >
          </slot>
          <el-button
            type="default"
            icon="el-icon-refresh"
            size="small"
            @click="loadTableData()"
            >重新整理</el-button
          >
        </el-button-group>
      </div>
      <el-table
        ref="gridtable"
        v-loading="tableloading"
        :data="tableData"
        border
        stripe
        highlight-current-row
        style="width: 100%"
        :default-sort="{ prop: 'SortCode', order: 'ascending' }"
        @select="handleSelectChange"
        @select-all="handleSelectAllChange"
        @sort-change="handleSortChange"
      >
        <el-table-column type="selection" width="30" />
        <el-table-column
          prop="SequenceName"
          label="業務單據名稱"
          sortable="custom"
          width="180"
        />
        <el-table-column
          prop="SequenceDelimiter"
          label="分隔符"
          sortable="custom"
          width="90"
        />
        <el-table-column
          prop="SequenceReset"
          label="重置規則"
          sortable="custom"
          width="120"
        >
          <template slot-scope="scope">
            <el-tag v-if="scope.row.SequenceReset === 'D'">每天</el-tag>
            <el-tag v-else-if="scope.row.SequenceReset === 'M'">每月</el-tag>
            <el-tag v-else-if="scope.row.SequenceReset === 'Y'">每年</el-tag>
            <el-tag v-else />
          </template>
        </el-table-column>
        <el-table-column
          prop="Step"
          label="步長"
          sortable="custom"
          width="80"
        />
        <el-table-column
          prop="CurrentNo"
          label="目前值"
          sortable="custom"
          width="90"
        />
        <el-table-column
          prop="CurrentCode"
          label="目前編碼"
          sortable="custom"
          width="200"
        />
        <el-table-column
          prop="CurrentReset"
          label="目前重置依賴"
          sortable="custom"
          width="150"
        />
        <el-table-column
          prop="Description"
          label="描述"
          sortable="custom"
          width="280"
        />
        <el-table-column
          label="是否啟用"
          sortable="custom"
          width="120"
          prop="EnabledMark"
          align="center"
        >
          <template slot-scope="scope">
            <el-tag
              :type="scope.row.EnabledMark === true ? 'success' : 'info'"
              disable-transitions
              >{{ scope.row.EnabledMark === true ? "啟用" : "禁用" }}</el-tag
            >
          </template>
        </el-table-column>
        <el-table-column
          label="是否刪除"
          sortable="custom"
          width="120"
          prop="DeleteMark"
          align="center"
        >
          <template slot-scope="scope">
            <el-tag
              :type="scope.row.DeleteMark === true ? 'danger' : 'success'"
              disable-transitions
              >{{ scope.row.DeleteMark === true ? "已刪除" : "否" }}</el-tag
            >
          </template>
        </el-table-column>
        <el-table-column
          prop="CreatorTime"
          label="建立時間"
          sortable
          width="160"
        />
        <el-table-column
          prop="LastModifyTime"
          label="更新時間"
          sortable
          width="160"
        />
      </el-table>
      <div class="pagination-container">
        <el-pagination
          background
          :current-page="pagination.currentPage"
          :page-sizes="[5, 10, 20, 50, 100, 200, 300, 400]"
          :page-size="pagination.pagesize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="pagination.pageTotal"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </el-card>
    <el-dialog
      ref="dialogEditForm"
      :title="editFormTitle + '業務單據號規則'"
      :visible.sync="dialogEditFormVisible"
      width="640px"
    >
      <el-form ref="editFrom" :model="editFrom" :rules="rules">
        <el-form-item
          label="單據名稱"
          :label-width="formLabelWidth"
          prop="SequenceName"
        >
          <el-input
            v-model="editFrom.SequenceName"
            placeholder="請輸入業務單據名稱"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="分隔符"
          :label-width="formLabelWidth"
          prop="SequenceDelimiter"
        >
          <el-input
            v-model="editFrom.SequenceDelimiter"
            placeholder="請輸入分隔符"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="重置規則"
          :label-width="formLabelWidth"
          prop="SequenceReset"
        >
          <el-select
            v-model="editFrom.SequenceReset"
            clearable
            placeholder="請選重置規則"
          >
            <el-option
              v-for="item in selectSequenceReset"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="步長" :label-width="formLabelWidth" prop="Step">
          <el-input
            v-model="editFrom.Step"
            placeholder="請輸入步長"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="目前值"
          :label-width="formLabelWidth"
          prop="CurrentNo"
        >
          <el-input
            v-model="editFrom.CurrentNo"
            placeholder="請輸入目前值"
            autocomplete="off"
            readonly="readonly"
          />
        </el-form-item>
        <el-form-item
          label="目前編碼"
          :label-width="formLabelWidth"
          prop="CurrentCode"
        >
          <el-input
            v-model="editFrom.CurrentCode"
            placeholder="請輸入目前編碼"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="是否啟用"
          :label-width="formLabelWidth"
          prop="EnabledMark"
        >
          <el-radio-group v-model="editFrom.EnabledMark">
            <el-radio label="true">是</el-radio>
            <el-radio label="false">否</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item
          label="描述"
          :label-width="formLabelWidth"
          prop="Description"
        >
          <el-input
            v-model="editFrom.Description"
            autocomplete="off"
            clearable
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogEditFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEditForm()">確 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getSequenceListWithPager,
  getSequenceDetail,
  saveSequence,
  setSequenceEnable,
  deleteSoftSequence,
  deleteSequence,
} from "@/api/security/sequence";

export default {
  name: "Sequence",
  data() {
    return {
      searchform: {
        name: "",
      },
      loadBtnFunc: [],
      selectedOrganizeOptions: "",
      selectOrganize: [],
      selectSequenceType: [],
      tableData: [],
      tableloading: true,
      pagination: {
        currentPage: 1,
        pagesize: 20,
        pageTotal: 0,
      },
      sortableData: {
        order: "desc",
        sort: "CreatorTime",
      },
      dialogEditFormVisible: false,
      editFormTitle: "",
      editFrom: {
        SequenceName: "",
        SequenceDelimiter: "",
        SequenceReset: "",
        Step: 1,
        CurrentNo: 0,
        CurrentCode: "",
        CurrentReset: "",
        Description: "",
        EnabledMark: "true",
      },
      rules: {
        SequenceName: [
          { required: true, message: "請輸入業務單據名稱", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 2 到 50 個字元",
            trigger: "blur",
          },
        ],
      },
      formLabelWidth: "80px",
      currentId: "", // 目前操作對象的ID值，主要用於修改
      currentSelected: [],
      selectSequenceReset: [
        {
          value: "D",
          label: "每天",
        },
        {
          value: "M",
          label: "每月",
        },
        {
          value: "Y",
          label: "每年",
        },
      ],
    };
  },
  created() {
    this.pagination.currentPage = 1;
    this.InitDictItem();
    this.loadTableData();
    this.loadBtnFunc = JSON.parse(
      localStorage.getItem("aurocorecurrentobjects")
    );
  },
  methods: {
    /**
     * 初始化資料
     */
    InitDictItem() {},
    /**
     * 載入頁面table資料
     */
    loadTableData: function () {
      this.tableloading = true;
      var seachdata = {
        CurrenetPageIndex: this.pagination.currentPage,
        PageSize: this.pagination.pagesize,
        Keywords: this.searchform.name,
        Order: this.sortableData.order,
        Sort: this.sortableData.sort,
      };
      getSequenceListWithPager(seachdata).then((res) => {
        this.tableData = res.ResData.Items;
        this.pagination.pageTotal = res.ResData.TotalItems;
        this.tableloading = false;
      });
    },
    /**
     * 點選查詢
     */
    handleSearch: function () {
      this.pagination.currentPage = 1;
      this.loadTableData();
    },

    /**
     * 新增、修改或檢視明細資訊（繫結顯示資料）     *
     */
    ShowEditOrViewDialog: function (view) {
      if (view !== undefined) {
        if (
          this.currentSelected.length > 1 ||
          this.currentSelected.length === 0
        ) {
          this.$alert("請選擇一條資料進行編輯/修改", "提示");
        } else {
          this.currentId = this.currentSelected[0].Id;
          this.editFormTitle = "編輯";
          this.dialogEditFormVisible = true;
          this.bindEditInfo();
        }
      } else {
        this.editFormTitle = "新增";
        this.currentId = "";
        this.dialogEditFormVisible = true;
      }
    },
    bindEditInfo: function () {
      getSequenceDetail(this.currentId).then((res) => {
        this.editFrom.SequenceName = res.ResData.SequenceName;
        this.editFrom.SequenceDelimiter = res.ResData.SequenceDelimiter;
        this.editFrom.SequenceReset = res.ResData.SequenceReset;
        this.editFrom.Step = res.ResData.Step;
        this.editFrom.CurrentNo = res.ResData.CurrentNo;
        this.editFrom.CurrentCode = res.ResData.CurrentCode;
        this.editFrom.CurrentReset = res.ResData.CurrentReset;
        this.editFrom.EnabledMark = res.ResData.EnabledMark + "";
        this.editFrom.Description = res.ResData.Description;
      });
    },
    /**
     * 新增/修改儲存
     */
    saveEditForm() {
      this.$refs["editFrom"].validate((valid) => {
        if (valid) {
          const data = {
            SequenceName: this.editFrom.SequenceName,
            SequenceDelimiter: this.editFrom.SequenceDelimiter,
            SequenceReset: this.editFrom.SequenceReset,
            Step: this.editFrom.Step,
            CurrentNo: this.editFrom.CurrentNo,
            CurrentCode: this.editFrom.CurrentCode,
            CurrentReset: this.editFrom.CurrentReset,
            EnabledMark: this.editFrom.EnabledMark,
            Description: this.editFrom.Description,
            Id: this.currentId,
          };
          saveSequence(data).then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，操作成功",
                type: "success",
              });
              this.dialogEditFormVisible = false;
              this.currentSelected = "";
              this.$refs["editFrom"].resetFields();
              this.loadTableData();
              this.InitDictItem();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
        } else {
          return false;
        }
      });
    },
    setEnable: function (val) {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        setSequenceEnable(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentSelected = "";
            this.loadTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deleteSoft: function (val) {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        deleteSoftSequence(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentSelected = "";
            this.loadTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deletePhysics: function () {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        this.$confirm("是否確認刪除所選的資料項?", "警告", {
          confirmButtonText: "確定",
          cancelButtonText: "取消",
          type: "warning",
        })
          .then(function () {
            var currentIds = [];
            this.currentSelected.forEach((element) => {
              currentIds.push(element.Id);
            });
            const data = {
              Ids: currentIds,
            };
            return deleteSequence(data);
          })
          .then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，刪除成功",
                type: "success",
              });
              this.currentSelected = "";
              this.loadTableData();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
      }
    },
    /**
     * 當表格的排序條件發生變化的時候會觸發該事件
     */
    handleSortChange: function (column) {
      this.sortableData.sort = column.prop;
      if (column.order === "ascending") {
        this.sortableData.order = "asc";
      } else {
        this.sortableData.order = "desc";
      }
      this.loadTableData();
    },
    /**
     * 當用戶手動勾選checkbox資料行事件
     */
    handleSelectChange: function (selection, row) {
      this.currentSelected = selection;
    },
    /**
     * 當用戶手動勾選全選checkbox事件
     */
    handleSelectAllChange: function (selection) {
      this.currentSelected = selection;
    },
    /**
     * 選擇每頁顯示數量
     */
    handleSizeChange(val) {
      this.pagination.pagesize = val;
      this.pagination.currentPage = 1;
      this.loadTableData();
    },
    /**
     * 選擇當頁面
     */
    handleCurrentChange(val) {
      this.pagination.currentPage = val;
      this.loadTableData();
    },
  },
};
</script>

<style>
</style>
