<template>
  <div class="app-container">
    <div class="filter-container">
      <el-card>
        <el-form
          ref="searchform"
          :inline="true"
          :model="searchform"
          class="demo-form-inline"
          size="small"
        >
          <el-form-item label="業務單據名稱：">
            <el-input
              v-model="searchform.name"
              clearable
              placeholder="業務單據名稱"
            />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="handleSearch()">查詢</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
    <el-card>
      <div class="list-btn-container">
        <el-button-group>
          <slot v-for="itemf in loadBtnFunc">
            <el-button
              v-if="itemf.FullName === '新增'"
              type="primary"
              icon="el-icon-plus"
              size="small"
              @click="ShowEditOrViewDialog()"
              >新增</el-button
            >
            <el-button
              v-if="itemf.FullName === '修改'"
              type="primary"
              icon="el-icon-edit"
              class="el-button-modify"
              size="small"
              @click="ShowEditOrViewDialog('edit')"
              >修改</el-button
            >
            <el-button
              v-if="itemf.FullName == '禁用'"
              type="info"
              icon="el-icon-video-pause"
              size="small"
              @click="setEnable('0')"
              >禁用</el-button
            >
            <el-button
              v-if="itemf.FullName == '啟用'"
              type="success"
              icon="el-icon-video-play"
              size="small"
              @click="setEnable('1')"
              >啟用</el-button
            >
            <el-button
              v-if="itemf.FullName === '軟刪除'"
              type="warning"
              icon="el-icon-delete"
              size="small"
              @click="deleteSoft('0')"
              >軟刪除</el-button
            >
            <el-button
              v-if="itemf.FullName === '刪除'"
              type="danger"
              icon="el-icon-delete"
              size="small"
              @click="deletePhysics()"
              >刪除</el-button
            >
          </slot>
          <el-button
            type="default"
            icon="el-icon-refresh"
            size="small"
            @click="loadTableData()"
            >重新整理</el-button
          >
        </el-button-group>
      </div>
      <el-table
        ref="gridtable"
        v-loading="tableloading"
        :data="tableData"
        border
        stripe
        highlight-current-row
        style="width: 100%"
        :default-sort="{ prop: 'SequenceName', order: 'ascending' }"
        @select="handleSelectChange"
        @select-all="handleSelectAllChange"
        @sort-change="handleSortChange"
      >
        <el-table-column type="selection" width="30" />
        <el-table-column
          prop="SequenceName"
          label="業務單據名稱"
          sortable="custom"
          width="180"
        />
        <el-table-column prop="RuleOrder" label="排序" width="80" />
        <el-table-column
          prop="RuleType"
          label="規則型別"
          sortable="custom"
          width="140"
        >
          <template slot-scope="scope">
            <slot v-if="scope.row.RuleType === 'const'">常量</slot>
            <slot v-else-if="scope.row.RuleType === 'number'">計數</slot>
            <slot v-else-if="scope.row.RuleType === 'date'"
              >日期型(yyyyMMdd)</slot
            >
            <slot v-else-if="scope.row.RuleType === 'shortdate'"
              >日期型(yyMMdd)</slot
            >
            <slot v-else-if="scope.row.RuleType === 'ydate'">年月(yyyyMM)</slot>
            <slot v-else-if="scope.row.RuleType === 'sydate'">年月(yyMM)</slot>
            <slot v-else-if="scope.row.RuleType === 'timestamp'">時間戳</slot>
            <slot v-else-if="scope.row.RuleType === 'guid'">Guid</slot>
            <slot v-else-if="scope.row.RuleType === 'random'">隨機數</slot>
          </template>
        </el-table-column>
        <el-table-column
          prop="RuleValue"
          label="規則參數"
          sortable="custom"
          width="120"
        />
        <el-table-column
          prop="PaddingSide"
          label="補齊方向"
          sortable="custom"
          width="120"
        >
          <template slot-scope="scope">
            <slot v-if="scope.row.PaddingSide === 'Left'">向左補齊</slot>
            <slot v-else-if="scope.row.PaddingSide === 'Right'">向右補齊</slot>
            <slot v-else>無</slot>
          </template>
        </el-table-column>
        <el-table-column
          prop="PaddingWidth"
          label="補齊寬度"
          sortable="custom"
          width="120"
        />
        <el-table-column
          prop="PaddingChar"
          label="填充字元"
          sortable="custom"
          width="120"
        />
        <el-table-column
          prop="Description"
          label="描述"
          sortable="custom"
          width="280"
        />
        <el-table-column
          label="是否啟用"
          sortable="custom"
          width="120"
          prop="EnabledMark"
          align="center"
        >
          <template slot-scope="scope">
            <el-tag
              :type="scope.row.EnabledMark === true ? 'success' : 'info'"
              disable-transitions
              >{{ scope.row.EnabledMark === true ? "啟用" : "禁用" }}</el-tag
            >
          </template>
        </el-table-column>
        <el-table-column
          label="是否刪除"
          sortable="custom"
          width="120"
          prop="DeleteMark"
          align="center"
        >
          <template slot-scope="scope">
            <el-tag
              :type="scope.row.DeleteMark === true ? 'danger' : 'success'"
              disable-transitions
              >{{ scope.row.DeleteMark === true ? "已刪除" : "否" }}</el-tag
            >
          </template>
        </el-table-column>
        <el-table-column
          prop="CreatorTime"
          label="建立時間"
          sortable
          width="160"
        />
        <el-table-column
          prop="LastModifyTime"
          label="更新時間"
          sortable
          width="160"
        />
      </el-table>
      <div class="pagination-container">
        <el-pagination
          background
          :current-page="pagination.currentPage"
          :page-sizes="[5, 10, 20, 50, 100, 200, 300, 400]"
          :page-size="pagination.pagesize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="pagination.pageTotal"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </el-card>
    <el-dialog
      ref="dialogEditForm"
      :title="editFormTitle + '業務單據號規則'"
      :visible.sync="dialogEditFormVisible"
      width="640px"
    >
      <el-form ref="editFrom" :model="editFrom" :rules="rules">
        <el-form-item label="填寫說明" :label-width="formLabelWidth">
          <slot
            >規則參數值填寫規則：規則型別為「常量」時填寫一個固定字串；為「計數」時填計數起始值；為「隨機數」時是填最小值的隨機數，最大隨機數為同位數的「*9」</slot
          >
        </el-form-item>
        <el-form-item
          label="單據名稱"
          :label-width="formLabelWidth"
          prop="SequenceName"
        >
          <el-select
            v-model="editFrom.SequenceName"
            clearable
            placeholder="請輸入業務單據名稱"
          >
            <el-option
              v-for="item in selectedSequence"
              :key="item.Id"
              :label="item.SequenceName"
              :value="item.SequenceName"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          label="排序"
          :label-width="formLabelWidth"
          prop="RuleOrder"
        >
          <el-input
            v-model="editFrom.RuleOrder"
            placeholder="請輸入排序號"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="規則型別"
          :label-width="formLabelWidth"
          prop="RuleType"
        >
          <el-select
            v-model="editFrom.RuleType"
            clearable
            placeholder="請選規則型別"
          >
            <el-option
              v-for="item in selectRuleType"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          v-if="
            editFrom.RuleType === 'const' ||
            editFrom.RuleType === 'number' ||
            editFrom.RuleType === 'random'
          "
          label="規則參數"
          :label-width="formLabelWidth"
          prop="RuleValue"
        >
          <el-input
            v-model="editFrom.RuleValue"
            placeholder="請輸入規則參數"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          v-if="editFrom.RuleType === 'number'"
          label="補齊方向"
          :label-width="formLabelWidth"
          prop="PaddingSide"
        >
          <el-select
            v-model="editFrom.PaddingSide"
            clearable
            placeholder="請選補齊方向"
          >
            <el-option
              v-for="item in selectPaddingSide"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          v-if="editFrom.RuleType === 'number'"
          label="補齊寬度"
          :label-width="formLabelWidth"
          prop="PaddingWidth"
        >
          <el-input
            v-model="editFrom.PaddingWidth"
            placeholder="請輸入補齊寬度"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          v-if="editFrom.RuleType === 'number'"
          label="填充字元"
          :label-width="formLabelWidth"
          prop="PaddingChar"
        >
          <el-input
            v-model="editFrom.PaddingChar"
            placeholder="請輸入填充字元"
            maxlength="1"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="描述"
          :label-width="formLabelWidth"
          prop="Description"
        >
          <el-input
            v-model="editFrom.Description"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="是否啟用"
          :label-width="formLabelWidth"
          prop="EnabledMark"
        >
          <el-radio-group v-model="editFrom.EnabledMark">
            <el-radio label="true">是</el-radio>
            <el-radio label="false">否</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogEditFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEditForm()">確 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getSequenceRuleListWithPager,
  getSequenceRuleDetail,
  saveSequenceRule,
  setSequenceRuleEnable,
  deleteSoftSequenceRule,
  deleteSequenceRule,
} from "@/api/security/sequencerule";
import { getAllSequenceList } from "@/api/security/sequence";

export default {
  name: "SequenceRule",
  data() {
    return {
      searchform: {
        name: "",
      },
      loadBtnFunc: [],
      selectedSequence: "",
      tableData: [],
      tableloading: true,
      pagination: {
        currentPage: 1,
        pagesize: 20,
        pageTotal: 0,
      },
      sortableData: {
        order: "asc",
        sort: "SequenceName",
      },
      dialogEditFormVisible: false,
      editFormTitle: "",
      editFrom: {
        SequenceName: "",
        RuleOrder: 1,
        RuleType: "date",
        RuleValue: "",
        PaddingSide: "None",
        PaddingWidth: 0,
        PaddingChar: "",
        Description: "",
        EnabledMark: "true",
      },
      rules: {
        SequenceName: [
          { required: true, message: "請選擇業務單據名稱", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 2 到 50 個字元",
            trigger: "blur",
          },
        ],
        RuleType: [
          { required: true, message: "請選擇規則型別", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 2 到 50 個字元",
            trigger: "blur",
          },
        ],
      },
      formLabelWidth: "80px",
      currentId: "", // 目前操作對象的ID值，主要用於修改
      currentSelected: [],
      selectRuleType: [
        {
          value: "const",
          label: "常量",
        },
        {
          value: "number",
          label: "計數",
        },
        {
          value: "date",
          label: "日期型(yyyyMMdd)",
        },
        {
          value: "shortdate",
          label: "日期型(yyMMdd)",
        },
        {
          value: "ydate",
          label: "年月(yyyyMM)",
        },
        {
          value: "sydate",
          label: "年月(yyMM)",
        },
        {
          value: "timestamp",
          label: "時間戳",
        },
        {
          value: "guid",
          label: "Guid",
        },
        {
          value: "random",
          label: "隨機數",
        },
      ],
      selectPaddingSide: [
        {
          value: "Left",
          label: "向左補齊",
        },
        {
          value: "Right",
          label: "向右補齊",
        },
        {
          value: "None",
          label: "無",
        },
      ],
    };
  },
  created() {
    this.pagination.currentPage = 1;
    this.InitDictItem();
    this.loadTableData();
    this.loadBtnFunc = JSON.parse(
      localStorage.getItem("aurocorecurrentobjects")
    );
  },
  methods: {
    /**
     * 初始化資料
     */
    InitDictItem() {
      getAllSequenceList().then((res) => {
        this.selectedSequence = res.ResData;
      });
    },
    /**
     * 載入頁面table資料
     */
    loadTableData: function () {
      this.tableloading = true;
      var seachdata = {
        CurrenetPageIndex: this.pagination.currentPage,
        PageSize: this.pagination.pagesize,
        Keywords: this.searchform.name,
        Order: this.sortableData.order,
        Sort: this.sortableData.sort,
      };
      getSequenceRuleListWithPager(seachdata).then((res) => {
        this.tableData = res.ResData.Items;
        this.pagination.pageTotal = res.ResData.TotalItems;
        this.tableloading = false;
      });
    },
    /**
     * 點選查詢
     */
    handleSearch: function () {
      this.pagination.currentPage = 1;
      this.loadTableData();
    },

    /**
     * 新增、修改或檢視明細資訊（繫結顯示資料）     *
     */
    ShowEditOrViewDialog: function (view) {
      if (view !== undefined) {
        if (
          this.currentSelected.length > 1 ||
          this.currentSelected.length === 0
        ) {
          this.$alert("請選擇一條資料進行編輯/修改", "提示");
        } else {
          this.currentId = this.currentSelected[0].Id;
          this.editFormTitle = "編輯";
          this.dialogEditFormVisible = true;
          this.bindEditInfo();
        }
      } else {
        this.editFormTitle = "新增";
        this.currentId = "";
        this.dialogEditFormVisible = true;
      }
    },
    bindEditInfo: function () {
      getSequenceRuleDetail(this.currentId).then((res) => {
        this.editFrom.SequenceName = res.ResData.SequenceName;
        this.editFrom.RuleOrder = res.ResData.RuleOrder;
        this.editFrom.RuleType = res.ResData.RuleType;
        this.editFrom.RuleValue = res.ResData.RuleValue;
        this.editFrom.PaddingSide = res.ResData.PaddingSide;
        this.editFrom.PaddingWidth = res.ResData.PaddingWidth;
        this.editFrom.PaddingChar = res.ResData.PaddingChar;
        this.editFrom.EnabledMark = res.ResData.EnabledMark + "";
        this.editFrom.Description = res.ResData.Description;
      });
    },
    /**
     * 新增/修改儲存
     */
    saveEditForm() {
      this.$refs["editFrom"].validate((valid) => {
        if (valid) {
          const data = {
            SequenceName: this.editFrom.SequenceName,
            RuleOrder: this.editFrom.RuleOrder,
            RuleType: this.editFrom.RuleType,
            RuleValue: this.editFrom.RuleValue,
            PaddingSide: this.editFrom.PaddingSide,
            PaddingWidth: this.editFrom.PaddingWidth,
            PaddingChar: this.editFrom.PaddingChar,
            EnabledMark: this.editFrom.EnabledMark,
            Description: this.editFrom.Description,
            Id: this.currentId,
          };
          saveSequenceRule(data).then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，操作成功",
                type: "success",
              });
              this.dialogEditFormVisible = false;
              this.currentSelected = "";
              this.$refs["editFrom"].resetFields();
              this.loadTableData();
              this.InitDictItem();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
        } else {
          return false;
        }
      });
    },
    setEnable: function (val) {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        setSequenceRuleEnable(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentSelected = "";
            this.loadTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deleteSoft: function (val) {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        deleteSoftSequenceRule(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentSelected = "";
            this.loadTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deletePhysics: function () {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        this.$confirm("是否確認刪除所選的資料項?", "警告", {
          confirmButtonText: "確定",
          cancelButtonText: "取消",
          type: "warning",
        })
          .then(function () {
            const data = {
              Ids: currentIds,
            };
            return deleteSequenceRule(data);
          })
          .then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，刪除成功",
                type: "success",
              });
              this.currentSelected = "";
              this.loadTableData();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
      }
    },
    /**
     * 當表格的排序條件發生變化的時候會觸發該事件
     */
    handleSortChange: function (column) {
      this.sortableData.sort = column.prop;
      if (column.order === "ascending") {
        this.sortableData.order = "asc";
      } else {
        this.sortableData.order = "desc";
      }
      this.loadTableData();
    },
    /**
     * 當用戶手動勾選checkbox資料行事件
     */
    handleSelectChange: function (selection, row) {
      this.currentSelected = selection;
    },
    /**
     * 當用戶手動勾選全選checkbox事件
     */
    handleSelectAllChange: function (selection) {
      this.currentSelected = selection;
    },
    /**
     * 選擇每頁顯示數量
     */
    handleSizeChange(val) {
      this.pagination.pagesize = val;
      this.pagination.currentPage = 1;
      this.loadTableData();
    },
    /**
     * 選擇當頁面
     */
    handleCurrentChange(val) {
      this.pagination.currentPage = val;
      this.loadTableData();
    },
  },
};
</script>

<style>
</style>
