<template>
  <div class="app-container">
    <el-card>
      <el-row :gutter="20">
        <el-col :span="7">
          <div class="grid-content bg-purple">
            <div class="grid-content bg-purple">
              <div class="list-btn-container">
                <el-form
                  ref="searchmenuform"
                  :inline="true"
                  :model="searchform"
                  class="demo-form-inline"
                  size="small"
                >
                  <el-form-item>
                    <el-button-group>
                      <el-button
                        type="default"
                        icon="el-icon-refresh"
                        size="mini"
                        @click="loadTableData()"
                        >重新整理</el-button
                      >
                      <slot v-for="itemf in loadItemsBtnFunc">
                        <el-button
                          v-if="itemf.FullName === '新增'"
                          type="primary"
                          icon="el-icon-plus"
                          size="mini"
                          @click="ShowItemsEditOrViewDialog()"
                          >新增</el-button
                        >
                        <el-button
                          v-if="itemf.FullName === '修改'"
                          type="primary"
                          icon="el-icon-edit"
                          class="el-button-modify"
                          size="mini"
                          @click="ShowItemsEditOrViewDialog('edit')"
                          >修改</el-button
                        >
                        <el-button
                          v-if="itemf.FullName == '禁用'"
                          type="info"
                          icon="el-icon-video-pause"
                          size="mini"
                          @click="setItemsEnable('0')"
                          >禁用</el-button
                        >
                        <el-button
                          v-if="itemf.FullName == '啟用'"
                          type="success"
                          icon="el-icon-video-play"
                          size="mini"
                          @click="setItemsEnable('1')"
                          >啟用</el-button
                        >
                        <el-button
                          v-if="itemf.FullName === '刪除'"
                          type="danger"
                          icon="el-icon-delete"
                          size="mini"
                          @click="deleteItemsPhysics()"
                          >刪除</el-button
                        >
                      </slot>
                    </el-button-group>
                  </el-form-item>
                </el-form>
              </div>
              <el-table
                :data="tableDataItemss"
                style="width: 100%; margin-bottom: 20px"
                row-key="Id"
                border
                size="mini"
                max-height="850"
                default-expand-all
                highlight-current-row
                :tree-props="{ children: 'Children' }"
                @row-click="handleClickItemsChange"
              >
                <el-table-column prop="FullName" label="名稱" />
                <el-table-column
                  label="狀態"
                  width="80"
                  prop="EnabledMark"
                  align="center"
                >
                  <template slot-scope="scope">
                    <el-tag
                      :type="
                        scope.row.EnabledMark === true ? 'success' : 'info'
                      "
                      disable-transitions
                      >{{
                        scope.row.EnabledMark === true ? "啟用" : "禁用"
                      }}</el-tag
                    >
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </div>
        </el-col>
        <el-col :span="17">
          <div class="grid-content bg-purple">
            <div class="list-btn-container">
              <el-form
                ref="searchform"
                :inline="true"
                :model="searchform"
                class="demo-form-inline"
                size="small"
              >
                <el-form-item>
                  <el-button-group>
                    <el-button
                      type="default"
                      icon="el-icon-refresh"
                      size="mini"
                      @click="loadItemsDetailTableData()"
                      >重新整理</el-button
                    >
                    <slot v-for="itemf in loadItemsDetailBtnFunc">
                      <el-button
                        v-if="itemf.FullName === '明細新增'"
                        type="primary"
                        icon="el-icon-plus"
                        size="mini"
                        @click="ShowItemsDetailEditOrViewDialog()"
                        >明細新增</el-button
                      >
                      <el-button
                        v-if="itemf.FullName === '修改'"
                        type="primary"
                        icon="el-icon-edit"
                        class="el-button-modify"
                        size="mini"
                        @click="ShowItemsDetailEditOrViewDialog('edit')"
                        >修改</el-button
                      >
                      <el-button
                        v-if="itemf.FullName == '禁用'"
                        type="info"
                        icon="el-icon-video-pause"
                        size="mini"
                        @click="setItemsDetailEnable('0')"
                        >禁用</el-button
                      >
                      <el-button
                        v-if="itemf.FullName == '啟用'"
                        type="success"
                        icon="el-icon-video-play"
                        size="mini"
                        @click="setItemsDetailEnable('1')"
                        >啟用</el-button
                      >
                      <el-button
                        v-if="itemf.FullName === '刪除'"
                        type="danger"
                        icon="el-icon-delete"
                        size="mini"
                        @click="deleteItemsDetailPhysics()"
                        >刪除</el-button
                      >
                    </slot>
                  </el-button-group>
                </el-form-item>
              </el-form>
            </div>
          </div>

          <el-table
            ref="gridtable"
            v-loading="tableloading"
            :data="tableData"
            style="width: 100%; margin-bottom: 20px"
            row-key="Id"
            border
            size="mini"
            max-height="850"
            default-expand-all
            highlight-current-row
            :tree-props="{ children: 'Children' }"
            @select="handleSelectChange"
            @select-all="handleSelectAllChange"
          >
            <el-table-column type="selection" width="30" />
            <el-table-column prop="ItemName" label="名稱" sortable="custom" />
            <el-table-column prop="ItemCode" label="值" sortable="custom" />
            <el-table-column
              prop="SortCode"
              label="排序"
              sortable="custom"
              width="80"
              align="center"
            />
            <el-table-column
              label="狀態"
              sortable="custom"
              width="80"
              prop="EnabledMark"
              align="center"
            >
              <template slot-scope="scope">
                <el-tag
                  :type="scope.row.EnabledMark === true ? 'success' : 'info'"
                  disable-transitions
                  >{{
                    scope.row.EnabledMark === true ? "啟用" : "禁用"
                  }}</el-tag
                >
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
    </el-card>
    <el-dialog
      ref="dialogEditItemsForm"
      :title="editItemsFormTitle + '字典'"
      :visible.sync="dialogItemsEditFormVisible"
      width="30%"
    >
      <el-form ref="editItemsFrom" :model="editItemsFrom" :rules="rules">
        <el-form-item
          label="字典名稱"
          :label-width="formLabelWidth"
          prop="FullName"
        >
          <el-input
            v-model="editItemsFrom.FullName"
            placeholder="請輸入字典名稱"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="字典編碼"
          :label-width="formLabelWidth"
          prop="EnCode"
        >
          <el-input
            v-model="editItemsFrom.EnCode"
            placeholder="請輸入字典編碼"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="父級"
          :label-width="formLabelWidth"
          prop="ParentId"
        >
          <el-cascader
            v-model="selectedItemsOptions"
            :options="selectItemss"
            filterable
            :props="{
              label: 'FullName',
              value: 'Id',
              children: 'Children',
              emitPath: false,
              checkStrictly: true,
              expandTrigger: 'hover',
            }"
            clearable
            @change="handleItemsChange"
          />
        </el-form-item>
        <el-form-item
          label="排序"
          :label-width="formLabelWidth"
          prop="SortCode"
        >
          <el-input
            v-model.number="editItemsFrom.SortCode"
            placeholder="請輸入排序,預設為99"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item label="屬性" :label-width="formLabelWidth" prop="">
          <el-checkbox v-model="editItemsFrom.EnabledMark">啟用</el-checkbox>
          <el-checkbox v-model="editItemsFrom.IsTree">是否是樹</el-checkbox>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogItemsEditFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEditItemsForm()">確 定</el-button>
      </div>
    </el-dialog>

    <el-dialog
      ref="dialogEditItemsDetailForm"
      :title="editItemsDetailFormTitle + '功能'"
      :visible.sync="dialogItemsDetailEditFormVisible"
      width="30%"
    >
      <el-form
        ref="editItemsDetailFrom"
        :model="editItemsDetailFrom"
        :rules="rulesfun"
      >
        <el-form-item
          label="名稱"
          :label-width="formLabelWidth"
          prop="ItemName"
        >
          <el-input
            v-model="editItemsDetailFrom.ItemName"
            placeholder="請輸入名稱"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item label="值" :label-width="formLabelWidth" prop="ItemCode">
          <el-input
            v-model="editItemsDetailFrom.ItemCode"
            placeholder="請輸入值"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="參數說明"
          :label-width="formLabelWidth"
          prop="ItemProperty1Desc"
        >
          <el-input
            v-model="editItemsDetailFrom.ItemProperty1Desc"
            placeholder="請輸入參數說明"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="參數"
          :label-width="formLabelWidth"
          prop="ItemProperty1"
        >
          <el-input
            v-model="editItemsDetailFrom.ItemProperty1"
            placeholder="請輸入參數"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="簡述/範本"
          :label-width="formLabelWidth"
          prop="Description"
        >
          <el-input
            type="textarea"
            :autosize="{ minRows: 3, maxRows: 6 }"
            v-model="editItemsDetailFrom.Description"
            placeholder="請輸入值"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item label="分類" :label-width="formLabelWidth" prop="ItemId">
          <el-cascader
            v-model="selectedItemsOptions"
            :options="selectItemss"
            filterable
            :props="{
              label: 'FullName',
              value: 'Id',
              children: 'Children',
              emitPath: false,
              checkStrictly: true,
              expandTrigger: 'hover',
            }"
            clearable
            @change="handleAddItemsDetailChange"
          />
        </el-form-item>
        <el-form-item
          label="上級功能"
          :label-width="formLabelWidth"
          prop="ParentId"
        >
          <el-cascader
            v-model="selectedItemsDetailOptions"
            :options="selectItemsDetails"
            filterable
            :props="{
              label: 'ItemName',
              value: 'Id',
              children: 'Children',
              emitPath: false,
              checkStrictly: true,
              expandTrigger: 'hover',
            }"
            clearable
            @change="handleAddItemsDetailItemsChange"
          />
        </el-form-item>
        <el-form-item
          label="排序"
          :label-width="formLabelWidth"
          prop="SortCode"
        >
          <el-input
            v-model.number="editItemsDetailFrom.SortCode"
            placeholder="請輸入排序,預設為99"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item label="屬性" :label-width="formLabelWidth" prop="">
          <el-checkbox v-model="editItemsFrom.EnabledMark">啟用</el-checkbox>
          <el-checkbox v-model="editItemsFrom.IsDefault">預設值</el-checkbox>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogItemsDetailEditFormVisible = false"
          >取 消</el-button
        >
        <el-button type="primary" @click="saveEditItemsDetailForm()"
          >確 定</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getAllItemsTreeTable,
  getItemsDetail,
  saveItems,
  setItemsEnable,
  deleteSoftItems,
  deleteItems,
  getItemsDetailListWithPager,
  getItemsDetailDetail,
  saveItemsDetail,
  setItemsDetailEnable,
  deleteSoftItemsDetail,
  deleteItemsDetail,
  getAllItemsDetailTreeTable,
} from "@/api/security/itemsservice";

import { getListMeunFuntionBymeunCode } from "@/api/basebasic";
export default {
  name: "Items",
  data() {
    return {
      searchform: {
        keywords: "",
        code: "",
      },
      searchmenuform: {
        systemTypeId: "",
      },
      selectSystemType: [],
      loadItemsBtnFunc: [],
      loadItemsDetailBtnFunc: [],
      tableData: [],
      tableloading: true,
      pagination: {
        currentPage: 1,
        pagesize: 20,
        pageTotal: 0,
      },
      sortableData: {
        order: "",
        sort: "",
      },
      selectItemsId: "",
      dialogItemsEditFormVisible: false,
      editItemsFormTitle: "",
      selectedItemsOptions: [],
      selectItemss: [],
      editItemsFrom: {
        FullName: "",
        EnCode: "",
        ParentId: "",
        IsTree: true,
        EnabledMark: true,
        SortCode: 99,
      },
      rules: {
        FullName: [
          { required: true, message: "請輸入名稱", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 2 到 50 個字元",
            trigger: "blur",
          },
        ],
        EnCode: [
          { required: true, message: "請輸入編碼", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 2 到 50 個字元",
            trigger: "blur",
          },
        ],
      },
      formLabelWidth: "80px",
      currentItemsId: "",

      dialogItemsDetailEditFormVisible: false,
      editItemsDetailFormTitle: "",
      selectedItemsDetailOptions: [],
      selectItemsDetails: [],
      editItemsDetailFrom: {
        ItemName: "",
        ItemCode: "",
        ItemProperty1Desc: "",
        ItemProperty1: "",
        Description: "",
        ParentId: "",
        ItemId: "",
        IsDefault: true,
        EnabledMark: true,
        SortCode: 99,
      },
      rulesfun: {
        ItemName: [
          { required: true, message: "請輸入名稱", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 2 到 50 個字元",
            trigger: "blur",
          },
        ],
        ItemCode: [
          { required: true, message: "請輸入值", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 2 到 50 個字元",
            trigger: "blur",
          },
        ],
        ItemId: [
          { required: true, message: "請選擇所屬分類", trigger: "blur" },
        ],
      },
      currentId: "", // 目前操作對象的ID值，主要用於修改
      currentSelected: [],
      tableDataItemss: [],
    };
  },
  created() {
    this.pagination.currentPage = 1;
    this.InitDictItem();
    this.loadTableData();
    this.loadItemsBtnFunc = JSON.parse(
      localStorage.getItem("aurocorecurrentobjects")
    );
  },
  methods: {
    /**
     * 初始化資料
     */
    InitDictItem() {
      getListMeunFuntionBymeunCode("ItemsDetail").then((res) => {
        this.loadItemsDetailBtnFunc = res.ResData;
      });
    },
    /**
     * 載入頁面左側菜單table資料
     */
    loadTableData: function () {
      getAllItemsTreeTable().then((res) => {
        this.selectItemss = this.tableDataItemss = res.ResData;
      });
    },
    /**
     * 點選查詢菜單
     */
    handleSearch: function () {
      this.loadTableData();
    },
    /**
     * 點選查詢
     */
    handleSearchItemsDetail: function () {
      this.pagination.currentPage = 1;
      this.loadItemsDetailTableData();
    },

    loadItemsDetailTree() {
      var data = {
        itemId: this.selectItemsId,
      };
      getAllItemsDetailTreeTable(data).then((res) => {
        this.selectItemsDetails = res.ResData;
      });
    },
    /**
     * 新增新增分類是選擇父級分類
     */
    handleItemsChange: function () {
      console.log(this.selectedItemsOptions);
      if (this.currentItemsId === this.selectedItemsOptions) {
        this.$alert("不能選擇自己作為父級", "提示");
        this.selectedItemsOptions = "";
        return;
      }
      this.editItemsFrom.ParentId = this.selectedItemsOptions;
    },
    /**
     * 新增分類值是選擇分類
     */
    handleAddItemsDetailChange: function () {
      console.log(this.selectedItemsOptions);
      this.selectItemsId = this.selectedItemsOptions;
      this.loadItemsDetailTree();
      this.editItemsDetailFrom.ItemId = this.selectedItemsOptions;
    },
    /**
     * 新增分類值時選擇父級
     */
    handleAddItemsDetailItemsChange: function () {
      console.log(this.selectedItemsDetailOptions);
      if (this.currentId === this.selectedItemsDetailOptions) {
        this.$alert("不能選擇自己作為父級", "提示");
        this.selectedItemsDetailOptions = "";
        return;
      }
      console.log(
        "selectedItemsDetailOptions:" + this.selectedItemsDetailOptions
      );
      this.editItemsDetailFrom.ParentId = this.selectedItemsDetailOptions;
    },
    /**
     * 新增、修改或檢視明細資訊（繫結顯示資料）*
     */
    ShowItemsEditOrViewDialog: function (view) {
      if (view !== undefined) {
        if (this.currentItemsId === "") {
          this.$alert("請選擇一條資料進行編輯/修改", "提示");
        } else {
          this.editItemsFormTitle = "編輯";
          this.dialogItemsEditFormVisible = true;
          this.bindItemsEditInfo();
        }
      } else {
        this.editItemsFormTitle = "新增";
        this.currentItemsId = "";
        this.dialogItemsEditFormVisible = true;
      }
    },
    bindItemsEditInfo: function () {
      getItemsDetail(this.currentItemsId).then((res) => {
        this.editItemsFrom.FullName = res.ResData.FullName;
        this.editItemsFrom.EnCode = res.ResData.EnCode;
        this.editItemsFrom.EnabledMark = res.ResData.EnabledMark;
        this.editItemsFrom.SortCode = parseInt(res.ResData.SortCode);
        this.editItemsFrom.IsTree = res.ResData.IsTree;
        this.editItemsFrom.ParentId = res.ResData.ParentId;
        this.selectedItemsOptions = res.ResData.ParentId;
      });
    },
    /**
     * 新增/修改儲存
     */
    saveEditItemsForm() {
      this.$refs["editItemsFrom"].validate((valid) => {
        if (valid) {
          const data = {
            FullName: this.editItemsFrom.FullName,
            EnCode: this.editItemsFrom.EnCode,
            ParentId: this.editItemsFrom.ParentId,
            IsTree: this.editItemsFrom.IsTree,
            EnabledMark: this.editItemsFrom.EnabledMark,
            SortCode: this.editItemsFrom.SortCode,
            Id: this.currentItemsId,
          };
          var url = "Items/Insert";
          if (this.currentItemsId !== "") {
            url = "Items/Update?id=" + this.currentItemsId;
          }
          saveItems(data, url).then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，操作成功",
                type: "success",
              });
              this.dialogItemsEditFormVisible = false;
              this.currentItemsId = "";
              this.selectedItemsOptions = [];
              this.$refs["editItemsFrom"].resetFields();
              this.loadTableData();
              this.InitDictItem();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
        } else {
          return false;
        }
      });
    },
    setItemsEnable: function (val) {
      if (this.currentItemsId === "") {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [this.currentItemsId];
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        setItemsEnable(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentItemsId = "";
            this.loadTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deleteItemsSoft: function (val) {
      if (this.currentItemsId === "") {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [this.currentItemsId];
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        deleteSoftItems(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentItemsId = "";
            this.loadTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deleteItemsPhysics: function () {
      if (this.currentItemsId === "") {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [this.currentItemsId];
        this.$confirm("是否確認刪除所選的資料項?", "警告", {
          confirmButtonText: "確定",
          cancelButtonText: "取消",
          type: "warning",
        })
          .then(function () {
            const data = {
              Ids: currentIds,
            };
            return deleteItems(data);
          })
          .then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，刪除成功",
                type: "success",
              });
              this.currentSelected = "";
              this.loadTableData();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
      }
    },
    /**
     * 新增、修改或檢視明細資訊（繫結顯示資料）*
     */
    ShowItemsDetailEditOrViewDialog: function (view) {
      if (view !== undefined) {
        if (this.currentSelected.length === 0) {
          this.$alert("請選擇一條資料進行編輯/修改", "提示");
        } else {
          this.editItemsDetailFormTitle = "編輯";
          this.dialogItemsDetailEditFormVisible = true;
          this.currentId = this.currentSelected[0].Id;
          this.bindItemsDetailEditInfo();
        }
      } else {
        this.editItemsDetailFormTitle = "新增";
        this.currentId = "";
        this.dialogItemsDetailEditFormVisible = true;
      }
    },
    bindItemsDetailEditInfo: function () {
      getItemsDetailDetail(this.currentId).then((res) => {
        this.editItemsDetailFrom.ItemName = res.ResData.ItemName;
        this.editItemsDetailFrom.ItemCode = res.ResData.ItemCode;
        this.editItemsDetailFrom.Description = res.ResData.Description;
        this.editItemsDetailFrom.IsDefault = res.ResData.IsDefault;
        this.editItemsDetailFrom.EnabledMark = res.ResData.EnabledMark;
        this.editItemsDetailFrom.SortCode = parseInt(res.ResData.SortCode);
        this.editItemsDetailFrom.ParentId = res.ResData.ParentId;
        this.editItemsDetailFrom.ItemProperty1 = res.ResData.ItemProperty1;
        this.editItemsDetailFrom.ItemProperty1Desc =
          res.ResData.ItemProperty1Desc;
        this.selectItemsId = res.ResData.ItemId;
        this.selectedItemsDetailOptions = res.ResData.ParentId;
        this.loadItemsDetailTree();
        this.editItemsDetailFrom.ItemId = res.ResData.ItemId;
        this.selectedItemsOptions = res.ResData.ItemId;
      });
    },
    /**
     * 新增/修改儲存
     */
    saveEditItemsDetailForm() {
      this.$refs["editItemsDetailFrom"].validate((valid) => {
        if (valid) {
          const data = {
            ItemName: this.editItemsDetailFrom.ItemName,
            ItemCode: this.editItemsDetailFrom.ItemCode,
            Description: this.editItemsDetailFrom.Description,
            ItemProperty1: this.editItemsDetailFrom.ItemProperty1,
            ItemProperty1Desc: this.editItemsDetailFrom.ItemProperty1Desc,
            ItemId: this.editItemsDetailFrom.ItemId,
            ParentId: this.editItemsDetailFrom.ParentId,
            IsDefault: this.editItemsDetailFrom.IsDefault,
            EnabledMark: this.editItemsDetailFrom.EnabledMark,
            SortCode: this.editItemsDetailFrom.SortCode,
            Id: this.currentId,
          };

          var url = "ItemsDetail/Insert";
          if (this.currentId !== "") {
            url = "ItemsDetail/Update?id=" + this.currentId;
          }
          saveItemsDetail(data, url).then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，操作成功",
                type: "success",
              });
              this.dialogItemsDetailEditFormVisible = false;
              this.currentSelected = "";
              this.$refs["editItemsDetailFrom"].resetFields();
              this.loadItemsDetailTableData();
              this.InitDictItem();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
        } else {
          return false;
        }
      });
    },
    setItemsDetailEnable: function (val) {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        setItemsDetailEnable(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentSelected = "";
            this.loadItemsDetailTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deleteItemsDetailSoft: function (val) {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        deleteSoftItemsDetail(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentSelected = "";
            this.loadItemsDetailTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deleteItemsDetailPhysics: function () {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        this.$confirm("是否確認刪除所選的資料項?", "警告", {
          confirmButtonText: "確定",
          cancelButtonText: "取消",
          type: "warning",
        })
          .then(function () {
            const data = {
              Ids: currentIds,
            };
            return deleteItemsDetail(data);
          })
          .then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，刪除成功",
                type: "success",
              });
              this.currentSelected = "";
              this.loadTableData();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
      }
    },
    /**
     * 當表格的排序條件發生變化的時候會觸發該事件
     */
    handleSortChange: function (column) {
      this.sortableData.sort = column.prop;
      if (column.order === "ascending") {
        this.sortableData.order = "asc";
      } else {
        this.sortableData.order = "desc";
      }
      this.loadItemsDetailTableData();
    },
    //
    handleClickItemsChange: function (row, column, event) {
      this.searchform.code = row.EnCode;
      this.currentItemsId = row.Id;
      this.loadItemsDetailTableData();
    },
    /**
     * 當用戶手動勾選checkbox資料行事件
     */
    handleSelectChange: function (selection, row) {
      this.currentSelected = selection;
    },
    /**
     * 當用戶手動勾選全選checkbox事件
     */
    handleSelectAllChange: function (selection) {
      this.currentSelected = selection;
    },

    /**
     * 載入頁面table資料
     */
    loadItemsDetailTableData: function () {
      this.tableloading = true;
      var seachdata = {
        itemId: this.currentItemsId,
      };
      getItemsDetailListWithPager(seachdata).then((res) => {
        this.tableData = res.ResData;
        this.tableloading = false;
      });
    },
  },
};
</script>
<style>
.el-cascader {
  width: 100%;
}
</style>
