<template>
  <div class="app-container">
    <div class="filter-container">
      <el-card>
        <el-form
          ref="searchform"
          :inline="true"
          :model="searchform"
          class="demo-form-inline"
          size="small"
        >
          <el-form-item label="名稱：">
            <el-input
              v-model="searchform.keywords"
              clearable
              placeholder="名稱"
            />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="handleSearch()">查詢</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
    <el-card>
      <div class="list-btn-container">
        <el-button-group>
          <slot v-for="itemf in loadBtnFunc">
            <el-button
              v-if="itemf.FullName === '新增'"
              type="primary"
              icon="el-icon-plus"
              size="small"
              @click="ShowEditOrViewDialog()"
              >新增</el-button
            >
            <el-button
              v-if="itemf.FullName === '修改'"
              type="primary"
              icon="el-icon-edit"
              class="el-button-modify"
              size="small"
              @click="ShowEditOrViewDialog('edit')"
              >修改</el-button
            >
            <el-button
              v-if="itemf.FullName == '禁用'"
              type="info"
              icon="el-icon-video-pause"
              size="small"
              @click="setEnable('0')"
              >設為未發佈</el-button
            >
            <el-button
              v-if="itemf.FullName == '啟用'"
              type="success"
              icon="el-icon-video-play"
              size="small"
              @click="setEnable('1')"
              >設為發佈</el-button
            >
            <el-button
              v-if="itemf.FullName === '軟刪除'"
              type="warning"
              icon="el-icon-delete"
              size="small"
              @click="deleteSoft('0')"
              >軟刪除</el-button
            >
            <el-button
              v-if="itemf.FullName === '刪除'"
              type="danger"
              icon="el-icon-delete"
              size="small"
              @click="deletePhysics()"
              >刪除</el-button
            >
          </slot>
          <el-button
            type="default"
            icon="el-icon-refresh"
            size="small"
            @click="loadTableData()"
            >重新整理</el-button
          >
        </el-button-group>
      </div>
      <el-table
        ref="gridtable"
        v-loading="tableloading"
        :data="tableData"
        border
        stripe
        highlight-current-row
        style="width: 100%"
        :default-sort="{ prop: 'SortCode', order: 'ascending' }"
        @select="handleSelectChange"
        @select-all="handleSelectAllChange"
        @sort-change="handleSortChange"
      >
        <el-table-column type="selection" width="30" />
        <el-table-column prop="Title" label="文章標題" sortable="custom" />
        <el-table-column
          prop="CategoryName"
          label="所屬分類"
          sortable="custom"
          width="120"
        />
        <el-table-column
          prop="SortCode"
          label="排序"
          sortable="custom"
          width="120"
        />
        <el-table-column
          label="屬性"
          sortable="custom"
          width="230"
          prop=""
          align="center"
        >
          <template slot-scope="scope">
            <el-tag v-if="scope.row.IsTop === true" disable-transitions
              >置頂</el-tag
            >
            <el-tag
              v-if="scope.row.IsRed === true"
              type="success"
              disable-transitions
              >推薦</el-tag
            >
            <el-tag
              v-if="scope.row.IsHot === true"
              type="danger"
              disable-transitions
              >熱門</el-tag
            >
            <el-tag
              v-if="scope.row.IsNew === true"
              type="warning"
              disable-transitions
              >最新</el-tag
            >
          </template>
        </el-table-column>
        <el-table-column
          label="是否發佈"
          sortable="custom"
          width="120"
          prop="EnabledMark"
          align="center"
        >
          <template slot-scope="scope">
            <el-tag
              :type="scope.row.EnabledMark === true ? 'success' : 'info'"
              disable-transitions
              >{{
                scope.row.EnabledMark === true ? "已發佈" : "未發佈"
              }}</el-tag
            >
          </template>
        </el-table-column>
        <el-table-column
          prop="CreatorTime"
          label="建立時間"
          sortable="custom"
          width="160"
        />
      </el-table>
      <div class="pagination-container">
        <el-pagination
          background
          :current-page="pagination.currentPage"
          :page-sizes="[5, 10, 20, 50, 100, 200, 300, 400]"
          :page-size="pagination.pagesize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="pagination.pageTotal"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </el-card>
    <el-dialog
      ref="dialogEditForm"
      v-el-drag-dialog
      :title="editFormTitle + '文章'"
      :visible.sync="dialogEditFormVisible"
      width="960px"
    >
      <el-form ref="editFrom" :model="editFrom" :rules="rules">
        <el-row>
          <el-col :span="12">
            <el-form-item
              label="文章標題"
              :label-width="formLabelWidth"
              prop="Title"
            >
              <el-input
                v-model="editFrom.Title"
                placeholder="請輸入文章標題"
                autocomplete="off"
                clearable
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="副標題"
              :label-width="formLabelWidth"
              prop="SubTitle"
            >
              <el-input
                v-model="editFrom.SubTitle"
                placeholder="請輸入文章副標題"
                autocomplete="off"
                clearable
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="文章分類"
              :label-width="formLabelWidth"
              prop="CategoryId"
            >
              <el-cascader
                v-model="selectedCategoryOptions"
                style="width: 380px"
                :options="selectCategory"
                filterable
                :props="{
                  label: 'Title',
                  value: 'Id',
                  children: 'Children',
                  emitPath: false,
                  checkStrictly: true,
                  expandTrigger: 'hover',
                }"
                clearable
                @change="handleSelectCategoryChange"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="外鏈"
              :label-width="formLabelWidth"
              prop="LinkUrl"
            >
              <el-input
                v-model="editFrom.LinkUrl"
                placeholder="請輸入外部鏈接"
                autocomplete="off"
                clearable
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="詳情"
              :label-width="formLabelWidth"
              prop="Description"
            >
              <editor
                v-model="editFrom.Description"
                :min-height="192"
                :height="300"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="排序"
              :label-width="formLabelWidth"
              prop="SortCode"
            >
              <el-input
                v-model="editFrom.SortCode"
                placeholder="請輸入排序"
                autocomplete="off"
                clearable
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="屬性" :label-width="formLabelWidth" prop="">
              <el-checkbox v-model="editFrom.IsTop">置頂</el-checkbox>
              <el-checkbox v-model="editFrom.IsHot">熱門</el-checkbox>
              <el-checkbox v-model="editFrom.IsRed">推薦</el-checkbox>
              <el-checkbox v-model="editFrom.IsNew">最新</el-checkbox>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="是否發佈"
              :label-width="formLabelWidth"
              prop="EnabledMark"
            >
              <el-radio-group v-model="editFrom.EnabledMark">
                <el-radio :label="true">是</el-radio>
                <el-radio :label="false">否</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="saveEditForm()">確 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getArticlenewsListWithPager,
  getArticlenewsDetail,
  saveArticlenews,
  setArticlenewsEnable,
  deleteSoftArticlenews,
  deleteArticlenews,
} from "@/api/cms/articlenews";
import { GetAllCategoryTreeTable } from "@/api/cms/articlecategory";
import Editor from "@/components/Editor";

import elDragDialog from "@/directive/el-drag-dialog"; // base on element-ui
export default {
  name: "Articlenews",
  directives: { elDragDialog },
  components: {
    Editor,
  },
  data() {
    return {
      searchform: {
        keywords: "",
      },
      loadBtnFunc: [],
      tableData: [],
      tableloading: true,
      pagination: {
        currentPage: 1,
        pagesize: 20,
        pageTotal: 0,
      },
      sortableData: {
        order: "desc",
        sort: "CreatorTime",
      },
      dialogEditFormVisible: false,
      editFormTitle: "",
      editFrom: {},
      rules: {
        CategoryId: [
          { required: true, message: "請輸入文章分類", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 2 到 50 個字元",
            trigger: "blur",
          },
        ],
        Title: [
          { required: true, message: "請輸入文章標題", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 2 到 50 個字元",
            trigger: "blur",
          },
        ],
      },
      selectedCategoryOptions: "",
      selectCategory: [],
      formLabelWidth: "80px",
      currentId: "", // 目前操作對象的ID值，主要用於修改
      currentSelected: [],
    };
  },
  created() {
    this.pagination.currentPage = 1;
    this.InitDictItem();
    this.loadTableData();
    this.loadBtnFunc = JSON.parse(
      localStorage.getItem("aurocorecurrentobjects")
    );
  },
  methods: {
    /**
     * 初始化資料
     */
    InitDictItem() {
      GetAllCategoryTreeTable().then((res) => {
        this.selectCategory = res.ResData;
      });
    },
    /**
     * 載入頁面table資料
     */
    loadTableData: function () {
      this.tableloading = true;
      var seachdata = {
        CurrenetPageIndex: this.pagination.currentPage,
        PageSize: this.pagination.pagesize,
        Keywords: this.searchform.keywords,
        Order: this.sortableData.order,
        Sort: this.sortableData.sort,
      };
      getArticlenewsListWithPager(seachdata).then((res) => {
        this.tableData = res.ResData.Items;
        this.pagination.pageTotal = res.ResData.TotalItems;
        this.tableloading = false;
      });
    },

    // 取消按鈕
    cancel() {
      this.dialogEditFormVisible = false;
      this.reset();
    },
    // 表單重置
    reset() {
      this.editFrom = {
        CategoryId: "",
        Title: "",
        Description: "",
        SortCode: 99,
        EnabledMark: true,
      };
      this.resetForm("editFrom");
    },
    /**
     * 點選查詢
     */
    handleSearch: function () {
      this.pagination.currentPage = 1;
      this.loadTableData();
    },

    /**
     * 選擇分類
     */
    handleSelectCategoryChange: function () {
      this.editFrom.CategoryId = this.selectedCategoryOptions;
    },
    /**
     * 新增、修改或檢視明細資訊（繫結顯示資料）     *
     */
    ShowEditOrViewDialog: function (view) {
      this.reset();
      if (view !== undefined) {
        if (
          this.currentSelected.length > 1 ||
          this.currentSelected.length === 0
        ) {
          this.$alert("請選擇一條資料進行編輯/修改", "提示");
        } else {
          this.currentId = this.currentSelected[0].Id;
          this.editFormTitle = "編輯";
          this.dialogEditFormVisible = true;
          this.bindEditInfo();
        }
      } else {
        this.editFormTitle = "新增";
        this.currentId = "";
        this.dialogEditFormVisible = true;
        this.selectedCategoryOptions = "";
      }
    },
    bindEditInfo: function () {
      getArticlenewsDetail(this.currentId).then((res) => {
        this.editFrom = res.ResData;
        this.selectedCategoryOptions = res.ResData.CategoryId;
      });
    },
    /**
     * 新增/修改儲存
     */
    saveEditForm() {
      this.$refs["editFrom"].validate((valid) => {
        if (valid) {
          var url = "Articlenews/Insert";
          if (this.currentId !== "") {
            url = "Articlenews/Update?id=" + this.currentId;
          }
          saveArticlenews(this.editFrom, url).then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，操作成功",
                type: "success",
              });
              this.dialogEditFormVisible = false;
              this.currentSelected = "";
              this.loadTableData();
              this.InitDictItem();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
        } else {
          return false;
        }
      });
    },
    setEnable: function (val) {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        setArticlenewsEnable(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentSelected = "";
            this.loadTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deleteSoft: function (val) {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        deleteSoftArticlenews(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentSelected = "";
            this.loadTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deletePhysics: function () {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        this.$confirm("是否確認刪除所選的資料項?", "警告", {
          confirmButtonText: "確定",
          cancelButtonText: "取消",
          type: "warning",
        })
          .then(function () {
            const data = {
              Ids: currentIds,
            };
            return deleteArticlenews(data);
          })
          .then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，刪除成功",
                type: "success",
              });
              this.currentSelected = "";
              this.loadTableData();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
      }
    },
    /**
     * 當表格的排序條件發生變化的時候會觸發該事件
     */
    handleSortChange: function (column) {
      this.sortableData.sort = column.prop;
      if (column.order === "ascending") {
        this.sortableData.order = "asc";
      } else {
        this.sortableData.order = "desc";
      }
      this.loadTableData();
    },
    /**
     * 當用戶手動勾選checkbox資料行事件
     */
    handleSelectChange: function (selection, row) {
      this.currentSelected = selection;
    },
    /**
     * 當用戶手動勾選全選checkbox事件
     */
    handleSelectAllChange: function (selection) {
      this.currentSelected = selection;
    },
    /**
     * 選擇每頁顯示數量
     */
    handleSizeChange(val) {
      this.pagination.pagesize = val;
      this.pagination.currentPage = 1;
      this.loadTableData();
    },
    /**
     * 選擇當頁面
     */
    handleCurrentChange(val) {
      this.pagination.currentPage = val;
      this.loadTableData();
    },
  },
};
</script>

<style>
</style>
