<template>
  <div class="app-container">
    <el-card>
      <div class="list-btn-container">
        <el-button-group>
          <slot v-for="itemf in loadBtnFunc">
            <el-button
              v-if="itemf.FullName === '新增'"
              type="primary"
              icon="el-icon-plus"
              size="small"
              @click="ShowEditOrViewDialog()"
              >新增</el-button
            >
            <el-button
              v-if="itemf.FullName === '修改'"
              type="primary"
              icon="el-icon-edit"
              class="el-button-modify"
              size="small"
              @click="ShowEditOrViewDialog('edit')"
              >修改</el-button
            >
            <el-button
              v-if="itemf.FullName == '禁用'"
              type="info"
              icon="el-icon-video-pause"
              size="small"
              @click="setEnable('0')"
              >禁用</el-button
            >
            <el-button
              v-if="itemf.FullName == '啟用'"
              type="success"
              icon="el-icon-video-play"
              size="small"
              @click="setEnable('1')"
              >啟用</el-button
            >
            <el-button
              v-if="itemf.FullName === '軟刪除'"
              type="warning"
              icon="el-icon-delete"
              size="small"
              @click="deleteSoft('0')"
              >軟刪除</el-button
            >
            <el-button
              v-if="itemf.FullName === '刪除'"
              type="danger"
              icon="el-icon-delete"
              size="small"
              @click="deletePhysics()"
              >刪除</el-button
            >
          </slot>
          <el-button
            type="default"
            icon="el-icon-refresh"
            size="small"
            @click="loadTableData()"
            >重新整理</el-button
          >
        </el-button-group>
      </div>
      <el-table
        ref="gridtable"
        v-loading="tableloading"
        :data="tableData"
        row-key="Id"
        border
        stripe
        highlight-current-row
        style="width: 100%"
        default-expand-all
        :tree-props="{ children: 'Children' }"
        @select="handleSelectChange"
        @select-all="handleSelectAllChange"
        @sort-change="handleSortChange"
      >
        <el-table-column type="selection" width="30" />
        <el-table-column
          prop="FullName"
          label="組織名稱"
          sortable="custom"
          width="380"
        />
        <el-table-column
          prop="EnCode"
          label="編碼"
          sortable="custom"
          width="180"
        />
        <el-table-column
          prop="CategoryId"
          label="型別"
          sortable="custom"
          width="90"
          align="center"
        >
          <template slot-scope="scope">
            <slot v-if="scope.row.CategoryId === 'Group'">集團</slot>
            <slot v-if="scope.row.CategoryId === 'Area'">區域</slot>
            <slot v-if="scope.row.CategoryId === 'Company'">公司</slot>
            <slot v-else-if="scope.row.CategoryId === 'SubCompany'"
              >子公司</slot
            >
            <slot v-else-if="scope.row.CategoryId === 'Department'">部門</slot>
            <slot v-else-if="scope.row.CategoryId === 'SubDepartment'"
              >子部門</slot
            >
            <slot v-else-if="scope.row.CategoryId === 'WorkGroup'">工作組</slot>
          </template>
        </el-table-column>
        <el-table-column
          prop="ManagerId"
          label="負責人"
          sortable="custom"
          width="90"
        />
        <el-table-column
          prop="TelePhone"
          label="電話"
          sortable="custom"
          width="120"
        />
        <el-table-column
          prop="MobilePhone"
          label="手機"
          sortable="custom"
          width="120"
        />
        <el-table-column
          label="是否啟用"
          sortable="custom"
          width="120"
          prop="EnabledMark"
          align="center"
        >
          <template slot-scope="scope">
            <el-tag
              :type="scope.row.EnabledMark === true ? 'success' : 'info'"
              disable-transitions
              >{{ scope.row.EnabledMark === true ? "啟用" : "禁用" }}</el-tag
            >
          </template>
        </el-table-column>
        <el-table-column
          label="是否刪除"
          sortable="custom"
          width="120"
          prop="DeleteMark"
          align="center"
        >
          <template slot-scope="scope">
            <el-tag
              :type="scope.row.DeleteMark === true ? 'danger' : 'success'"
              disable-transitions
              >{{ scope.row.DeleteMark === true ? "已刪除" : "否" }}</el-tag
            >
          </template>
        </el-table-column>
        <el-table-column prop="CreatorTime" label="建立時間" sortable />
        <el-table-column prop="LastModifyTime" label="更新時間" sortable />
      </el-table>
    </el-card>
    <el-dialog
      ref="dialogEditForm"
      v-el-drag-dialog
      :title="editFormTitle + '組織'"
      :visible.sync="dialogEditFormVisible"
      width="660px"
    >
      <el-form
        ref="editFrom"
        :inline="true"
        :model="editFrom"
        :rules="rules"
        class="demo-form-inline"
      >
        <el-form-item
          label="上級組織"
          :label-width="formLabelWidth"
          prop="ParentId"
        >
          <el-cascader
            v-model="selectedOrganizeOptions"
            style="width: 500px"
            :options="selectOrganize"
            filterable
            :props="{
              label: 'FullName',
              value: 'Id',
              children: 'Children',
              emitPath: false,
              checkStrictly: true,
              expandTrigger: 'hover',
            }"
            clearable
            @change="handleSelectOrganizeChange"
          />
        </el-form-item>
        <el-form-item
          label="名稱"
          :label-width="formLabelWidth"
          prop="FullName"
        >
          <el-input
            v-model="editFrom.FullName"
            style="width: 500px"
            placeholder="請輸入機構名稱"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item label="編碼" :label-width="formLabelWidth" prop="EnCode">
          <el-input
            v-model="editFrom.EnCode"
            placeholder="請輸入機構編碼"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="型別"
          :label-width="formLabelWidth"
          prop="CategoryId"
        >
          <el-select
            v-model="editFrom.CategoryId"
            clearable
            placeholder="請選型別"
          >
            <el-option
              v-for="item in selectOrganizeType"
              :key="item.Id"
              :label="item.ItemName"
              :value="item.ItemCode"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          label="簡稱"
          :label-width="formLabelWidth"
          prop="ShortName"
        >
          <el-input
            v-model="editFrom.ShortName"
            placeholder="請輸入簡稱"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="負責人"
          :label-width="formLabelWidth"
          prop="ManagerId"
        >
          <el-input
            v-model="editFrom.ManagerId"
            placeholder="請輸入負責人"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="手機"
          :label-width="formLabelWidth"
          prop="MobilePhone"
        >
          <el-input
            v-model="editFrom.MobilePhone"
            placeholder="請輸入手機"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="座機電話"
          :label-width="formLabelWidth"
          prop="TelePhone"
        >
          <el-input
            v-model="editFrom.TelePhone"
            placeholder="請輸入電話"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <!--
        <el-form-item label="微訊號" :label-width="formLabelWidth" prop="WeChat">
          <el-input v-model="editFrom.WeChat" placeholder="請輸入微信" autocomplete="off" clearable />
        </el-form-item>-->
        <el-form-item label="Email" :label-width="formLabelWidth" prop="Email">
          <el-input
            v-model="editFrom.Email"
            placeholder="請輸入Email"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item label="傳真" :label-width="formLabelWidth" prop="Fax">
          <el-input
            v-model="editFrom.Fax"
            placeholder="請輸入傳真"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="排序"
          :label-width="formLabelWidth"
          prop="SortCode"
        >
          <el-input
            v-model.number="editFrom.SortCode"
            placeholder="請輸入排序,預設為99"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item label="選項" :label-width="formLabelWidth" prop="">
          <el-checkbox v-model="editFrom.EnabledMark">啟用</el-checkbox>
          <el-checkbox v-model="editFrom.DeleteMark">刪除</el-checkbox>
        </el-form-item>
        <el-form-item label="地址" :label-width="formLabelWidth" prop="Address">
          <el-input
            v-model="editFrom.Address"
            style="width: 500px"
            placeholder="請輸入地址"
            autocomplete="off"
            clearable
          />
        </el-form-item>
        <el-form-item
          label="描述"
          :label-width="formLabelWidth"
          prop="Description"
        >
          <el-input
            v-model="editFrom.Description"
            style="width: 500px"
            autocomplete="off"
            clearable
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogEditFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEditForm()">確 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getListItemDetailsByCode } from "@/api/basebasic";
import {
  getAllOrganizeTreeTable,
  getOrganizeDetail,
  saveOrganize,
  setOrganizeEnable,
  deleteSoftOrganize,
  deleteOrganize,
} from "@/api/security/organizeservice";

import elDragDialog from "@/directive/el-drag-dialog"; // base on element-ui
export default {
  name: "Organize",
  directives: { elDragDialog },
  data() {
    return {
      loadBtnFunc: [],
      selectedOrganizeOptions: "",
      selectOrganize: [],
      selectOrganizeType: [],
      tableData: [],
      tableloading: true,
      dialogEditFormVisible: false,
      editFormTitle: "",
      editFrom: {
        FullName: "",
        EnCode: "",
        ParentId: "",
        ShortName: "",
        CategoryId: "",
        ManagerId: "",
        TelePhone: "",
        MobilePhone: "",
        WeChat: "",
        Fax: "",
        Email: "",
        Address: "",
        AllowEdit: true,
        AllowDelete: true,
        SortCode: 99,
        EnabledMark: true,
        DeleteMark: false,
        Description: "",
      },
      rules: {
        FullName: [
          { required: true, message: "請輸入名稱", trigger: "blur" },
          {
            min: 2,
            max: 50,
            message: "長度在 2 到 50 個字元",
            trigger: "blur",
          },
        ],
        CategoryId: [
          { required: true, message: "請選擇型別", trigger: "blur" },
        ],
      },
      formLabelWidth: "80px",
      currentId: "", // 目前操作對象的ID值，主要用於修改
      currentSelected: [],
    };
  },
  created() {
    this.InitDictItem();
    this.loadTableData();
    this.loadBtnFunc = JSON.parse(
      localStorage.getItem("aurocorecurrentobjects")
    );
  },
  methods: {
    /**
     * 初始化資料
     */
    InitDictItem() {
      getListItemDetailsByCode("OrganizeCategory").then((res) => {
        this.selectOrganizeType = res.ResData;
      });
    },
    /**
     * 載入頁面table資料
     */
    loadTableData: function () {
      this.tableloading = true;
      getAllOrganizeTreeTable().then((res) => {
        this.tableData = res.ResData;
        this.selectOrganize = res.ResData;
        this.tableloading = false;
      });
    },

    /**
     *選擇組織
     */
    handleSelectOrganizeChange: function () {
      this.editFrom.ParentId = this.selectedOrganizeOptions;
    },
    /**
     * 新增、修改或檢視明細資訊（繫結顯示資料）     *
     */
    ShowEditOrViewDialog: function (view) {
      if (view !== undefined) {
        if (
          this.currentSelected.length > 1 ||
          this.currentSelected.length === 0
        ) {
          this.$alert("請選擇一條資料進行編輯/修改", "提示");
        } else {
          this.currentId = this.currentSelected[0].Id;
          this.editFormTitle = "編輯";
          this.dialogEditFormVisible = true;
          this.bindEditInfo();
        }
      } else {
        this.editFormTitle = "新增";
        this.currentId = "";
        this.dialogEditFormVisible = true;
        this.$refs["editFrom"].resetFields();
      }
    },
    bindEditInfo: function () {
      getOrganizeDetail(this.currentId).then((res) => {
        this.editFrom.FullName = res.ResData.FullName;
        this.editFrom.EnCode = res.ResData.EnCode;
        this.editFrom.ParentId = res.ResData.ParentId;
        this.editFrom.ShortName = res.ResData.ShortName;
        this.editFrom.CategoryId = res.ResData.CategoryId;
        this.editFrom.ManagerId = res.ResData.ManagerId;
        this.editFrom.TelePhone = res.ResData.TelePhone;
        this.editFrom.MobilePhone = res.ResData.MobilePhone;
        this.editFrom.WeChat = res.ResData.WeChat;
        this.editFrom.Fax = res.ResData.Fax;
        this.editFrom.Email = res.ResData.Email;
        this.editFrom.Address = res.ResData.Address;
        this.editFrom.AllowEdit = res.ResData.AllowEdit;
        this.editFrom.AllowDelete = res.ResData.AllowDelete;
        this.editFrom.SortCode = res.ResData.SortCode;
        this.editFrom.EnabledMark = res.ResData.EnabledMark;
        this.editFrom.DeleteMark = res.ResData.DeleteMark;
        this.selectedOrganizeOptions = res.ResData.ParentId;
      });
    },
    /**
     * 新增/修改儲存
     */
    saveEditForm() {
      this.$refs["editFrom"].validate((valid) => {
        if (valid) {
          const data = {
            ParentId: this.editFrom.ParentId,
            EnCode: this.editFrom.EnCode,
            FullName: this.editFrom.FullName,
            ShortName: this.editFrom.ShortName,
            CategoryId: this.editFrom.CategoryId,
            ManagerId: this.editFrom.ManagerId,
            TelePhone: this.editFrom.TelePhone,
            MobilePhone: this.editFrom.MobilePhone,
            WeChat: this.editFrom.WeChat,
            Fax: this.editFrom.Fax,
            Email: this.editFrom.Email,
            Address: this.editFrom.Address,
            AllowEdit: this.editFrom.AllowEdit,
            AllowDelete: this.editFrom.AllowDelete,
            DeleteMark: this.editFrom.DeleteMark,
            SortCode: this.editFrom.SortCode,
            EnabledMark: this.editFrom.EnabledMark,
            Description: this.editFrom.Description,
            Id: this.currentId,
          };
          var url = "Organize/Insert";
          if (this.currentId !== "") {
            url = "Organize/Update?id=" + this.currentId;
          }
          saveOrganize(data, url).then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，操作成功",
                type: "success",
              });
              this.dialogEditFormVisible = false;
              this.currentSelected = "";
              this.$refs["editFrom"].resetFields();
              this.loadTableData();
              this.InitDictItem();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
        } else {
          return false;
        }
      });
    },
    setEnable: function (val) {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        setOrganizeEnable(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentSelected = "";
            this.loadTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deleteSoft: function (val) {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        const data = {
          Ids: currentIds,
          Flag: val,
        };
        deleteSoftOrganize(data).then((res) => {
          if (res.Success) {
            this.$message({
              message: "恭喜你，操作成功",
              type: "success",
            });
            this.currentSelected = "";
            this.loadTableData();
          } else {
            this.$message({
              message: res.ErrMsg,
              type: "error",
            });
          }
        });
      }
    },
    deletePhysics: function () {
      if (this.currentSelected.length === 0) {
        this.$alert("請先選擇要操作的資料", "提示");
        return false;
      } else {
        var currentIds = [];
        this.currentSelected.forEach((element) => {
          currentIds.push(element.Id);
        });
        this.$confirm("是否確認刪除所選的資料項?", "警告", {
          confirmButtonText: "確定",
          cancelButtonText: "取消",
          type: "warning",
        })
          .then(function () {
            const data = {
              Ids: currentIds,
            };
            return deleteOrganize(data);
          })
          .then((res) => {
            if (res.Success) {
              this.$message({
                message: "恭喜你，刪除成功",
                type: "success",
              });
              this.currentSelected = "";
              this.loadTableData();
            } else {
              this.$message({
                message: res.ErrMsg,
                type: "error",
              });
            }
          });
      }
    },
    /**
     * 當表格的排序條件發生變化的時候會觸發該事件
     */
    handleSortChange: function (column) {
      this.sortableData.sort = column.prop;
      if (column.order === "ascending") {
        this.sortableData.order = "asc";
      } else {
        this.sortableData.order = "desc";
      }
      this.loadTableData();
    },
    /**
     * 當用戶手動勾選checkbox資料行事件
     */
    handleSelectChange: function (selection, row) {
      this.currentSelected = selection;
    },
    /**
     * 當用戶手動勾選全選checkbox事件
     */
    handleSelectAllChange: function (selection) {
      this.currentSelected = selection;
    },
  },
};
</script>
