﻿@page
@model WebAnalytics.Pages.AudienceOverviewbyGAModel
@{
    Layout = "_LayoutbyGA";
}
@section JavaScript
{
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.1/dist/echarts.min.js" type="text/javascript"></script>

    
}


<style>
    body {
        font-family: 'Noto Sans TC',思源黑體, 微軟正黑體, 蘋方黑體, 華康麗黑體, Helvetica, Arial, sans-serif, serif;
    }

    .dashboard-default #defaultLayout.e-dashboardlayout.e-control .e-panel:hover span {
        display: block;
    }

    .dashboard-default #defaultLayout .e-panel .e-panel-container .text-align {
        vertical-align: middle;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }

    .e-panel-header {
        padding: 10px;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, .03);
    }

    .dashboard-default .e-template-icon {
        padding: 10px;
        float: right;
        display: none;
    }

    .dashboard-default .e-clear-icon::before {
        content: '\e7a7';
        font-size: 12px;
        font-family: 'e-icons';
    }

    .bootstrap4 .dashboard-default .e-clear-icon::before {
        content: '\e745';
    }

    .dashboard-default .text-align {
        line-height: 160px;
    }

    .dashboard-default .e-clear-icon {
        position: absolute;
        right: 0;
        cursor: pointer;
    }
    /* high contrast style */
    body.highcontrast .dashboard-default #defaultLayout.e-dashboardlayout.e-control .e-panel {
        background: #000;
    }
</style>
<div id="app" v-cloak>
    <div class="content-wrapper" style="max-width:100%">
        <div class="col-lg-12 control-section dashboard-predefined" id="predefined-container">
            <div>
                <ejs-dashboardlayout ref="dashboard" :columns="4" id="predefined-dashboard" :cell-spacing="spacing" :cell-aspect-ratio="cellAspect">
                    <div v-for="item in layoutDefine">
                        <div class="e-panel" :data-row="item.row" :data-col="item.col" :data-sizeX="item.sizeX" :data-sizeY="item.sizeY">
                            <span class="e-template-icon e-clear-icon"></span>
                            <div class="e-panel-container">
                                <div id="" class="e-panel-header"><div>{{item.headerText}}</div></div>
                                <div class="e-panel-content" id="Panel1_body" style="height: calc(100% - 28px);">
                                    <component :is="item.compName" :chartid="item.panelid" :mypanelsize="item.panelSize"></component>
                                    <!-- <ec-line-graph :chartid="item.panelid" :mypanelsize="item.panelSize"></ec-line-graph>-->
                                </div>
                            </div>
                        </div>
                    </div>


                </ejs-dashboardlayout>
            </div>
        </div>

    </div>
</div>

<partial name="~/Pages/Shared/Components/_EChartPie.cshtml" />
<partial name="~/Pages/Shared/Components/_EChartLine.cshtml" />
<partial name="~/Pages/Shared/Components/_EChartBar.cshtml" />
<partial name="~/Pages/Shared/AudienceOverviewbyGA/_Vue.cshtml" />




