<template>
  <div id='app'>
  <div class="row justify-content-center py-3">
  <h3>Syncfusion Vue Schedule</h3>
      <ejs-schedule width='100%' height='350px' :selectedDate='selectedDate'></ejs-schedule>
  </div>
  </div>
</template>
<script>
  import Vue from 'vue';
  import { SchedulePlugin, Day, Week, WorkWeek, Month, Agenda } from '@syncfusion/ej2-vue-schedule';
  Vue.use(SchedulePlugin);

  export default {
    data (){
      return {
        selectedDate: new Date(2018, 1, 15)
      }
    },
    provide: {
      schedule: [Day, Week, WorkWeek, Month, Agenda]
    }
  }
</script>

<style>
@import '../../node_modules/@syncfusion/ej2-base/styles/bootstrap4.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/bootstrap4.css';
@import '../../node_modules/@syncfusion/ej2-calendars/styles/bootstrap4.css';
@import '../../node_modules/@syncfusion/ej2-dropdowns/styles/bootstrap4.css';
@import '../../node_modules/@syncfusion/ej2-inputs/styles/bootstrap4.css';
@import '../../node_modules/@syncfusion/ej2-navigations/styles/bootstrap4.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/bootstrap4.css';
@import '../../node_modules/@syncfusion/ej2-vue-schedule/styles/bootstrap4.css';

#app{
   height: 350px;
 }
</style>
